/*<meta />*/

.transparent-gif	/* Ensures resource is copied over */
{
	background-image: url("Images/transparent.gif");
}

/* Expanding */

.MCExpanding
{
	text-decoration: none;
}

.MCExpanding_Open
{
	
}

.MCExpanding_Closed
{
	
}

.MCExpandingHead
{
	
}

.MCExpandingHotSpot
{
	cursor: pointer;
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 18px;
}

.MCExpanding_Image_Icon
{
	border: none;
}

.MCExpanding_Open .MCExpandingHotSpot
{
	background-image: url("Images/minus.png");
}

.MCExpanding_Closed .MCExpandingHotSpot
{
	background-image: url("Images/plus.png");
}

.MCExpanding_Closed a.MCExpandingHotSpot,
.MCExpanding_Open a.MCExpandingHotSpot
{
	text-decoration: none;
}

.MCExpandingBody
{
	vertical-align: bottom;
}

.MCExpanding_Open .MCExpandingBody
{
	display: inline-block;
}

.MCExpanding_Closed .MCExpandingBody
{
	display: none;
}

/**/
/* DropDown */

.MCDropDown
{
	
}

.MCDropDown_Open
{
	
}

.MCDropDown_Closed
{
	
}

.MCDropDownHead
{
	display: block;
}

.MCDropDownHotSpot
{
	cursor: pointer;
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 18px;
}

.MCDropDown_Open .MCDropDownHotSpot
{
	background-image: url("Images/minus.png");
}

.MCDropDown_Closed .MCDropDownHotSpot
{
	background-image: url("Images/plus.png");
}

.MCDropDown_Closed a.MCDropDownHotSpot,
.MCDropDown_Open a.MCDropDownHotSpot
{
	text-decoration: none;
}

.MCDropDownBody
{
	margin-left: 18px;
	overflow: hidden;
}

.MCDropDown_Open .MCDropDownBody
{
	display: block;
}

.MCDropDown_Closed .MCDropDownBody
{
	display: none;
}

.MCDropDown_Image_Icon
{
	border: none;
}

/**/
/* Toggler */

.MCToggler
{
	text-decoration: none;
}

.MCToggler_Open
{
	
}

.MCToggler_Closed
{
	
}

.MCTogglerHead
{
	
}

.MCTogglerHotSpot
{
	cursor: pointer;
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 18px;
}

.MCToggler_Open.MCTogglerHotSpot
{
	background-image: url("Images/minus.png");
}

.MCToggler_Closed.MCTogglerHotSpot
{
	background-image: url("Images/plus.png");
}

a.MCToggler_Closed.MCTogglerHotSpot,
a.MCToggler_Open.MCTogglerHotSpot
{
	text-decoration: none;
}

.MCToggler_Image_Icon
{
	border: none;
}

/**/
/* Text Popup */

.MCTextPopup
{
	cursor: pointer;
	text-decoration: none;
}

.MCTextPopupHotSpot
{
	cursor: pointer;
	background-repeat: no-repeat;
}

.MCTextPopup_Open.MCTextPopupHotSpot
{
	
}

.MCTextPopup_Closed.MCTextPopupHotSpot
{
	
}

.MCTextPopupBody
{
	color: #EBEBEB;
	font-weight: normal;
	line-height: 1.5em;
	background-color: #000000;
	width: 200px;
	padding: 11px 15px;
	-webkit-box-shadow: 0 4px 10px #8B8B8B;
	-moz-box-shadow: 0 4px 10px #8B8B8B;
	box-shadow: 0px 2px 8px 0px rgba(0,0,0,.4);
	border: none !important;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	position: absolute;
	left: 20px;
	white-space: normal;
	filter: alpha( opacity = 0 );
	opacity: 0.0;
	z-index: 10001;
}

.MCTextPopup_Open .MCTextPopupBody
{
	display: block;
}

.MCTextPopup_Closed .MCTextPopupBody
{
	display: none;
}

.MCTextPopupArrow
{
	content: "";
	border: solid 13px transparent;
	border-bottom-color: #DCDCDC;
	border-bottom-width: 13px;
	border-top: none;
	position: absolute;
	top: 0;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	width: 0;
	height: 0;
}

.MCTextPopupBodyBottom .MCTextPopupArrow
{
	border: solid 13px transparent;
	border-top-color: #000000;
	border-top-width: 13px;
	border-bottom: none;
	top: auto;
	bottom: -13px;
}

/**/

.link-list-popup
{
	color: #707070;
	line-height: normal;
	background-color: #FFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 4px 10px #8B8B8B;
	-moz-box-shadow: 0 4px 10px #8B8B8B;
	box-shadow: 0 4px 10px #8B8B8B;
	position: absolute;
	z-index: 50;
}

.link-list-popup ul
{
	list-style: none;
	margin: 0;
	padding: 6px;
}

.link-list-popup ul li
{
	padding: 5px;
	cursor: pointer;
}

.link-list-popup ul li:hover
{
	color: #000;
	background-color: #E5EFF7;
}

.link-list-popup ul li a
{
	color: inherit;
	text-decoration: none;
}

/* buttons */

.buttons
{
	position: static;
}

.templateTopic .buttons
{
	display: none;
}

.toolbar-buttons
{
	position: absolute;
	top: 7px;
	left: 9px;
	right: 9px;
}

.button-group-container-left
{
	float: left;
	margin-left: -4px;
}

.button-group-container-right
{
	float: right;
	margin-right: -4px;
}

.button-group
{
	float: left;
}

.button-separator
{
	background-color: #E1E1E1;
	float: left;
	margin: 0 4px;
	height: 24px;
	width: 1px;
}

.button
{
	width: 22px;
	height: 22px;
	line-height: 22px;
	position: relative;
	/* need this to workaround CSS3PIE known issue: http://css3pie.com/documentation/known-issues/#z-index */
	margin: 0px 4px;
	float: left;
	cursor: pointer;
	border: solid 1px #E1E1E1;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 0px 0px #FFF;
	-moz-box-shadow: 0px 1px 0px 0px #FFF;
	box-shadow: 0px 1px 0px 0px #FFF;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	padding: 0;
}

.button[disabled],
.button.current-topic-index-button.disabled
{
	opacity: 0.5;
}

.button.previous-topic-button
{
	background: #ECECEC url("Images/navigate-previous.png") no-repeat center center;
	/* Old browsers */
	background: url("Images/navigate-previous.png") no-repeat center center, -moz-linear-gradient(top, #FFF 0%, #ECECEC 100%);
	/* FF3.6+ */
	background: url("Images/navigate-previous.png") no-repeat center center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFF), color-stop(100%,#ECECEC));
	/* Chrome,Safari4+ */
	background: url("Images/navigate-previous.png") no-repeat center center, -webkit-linear-gradient(top, #FFF 0%,#ECECEC 100%);
	/* Chrome10+,Safari5.1+ */
	background: url("Images/navigate-previous.png") no-repeat center center, -o-linear-gradient(top, #FFF 0%,#ECECEC 100%);
	/* Opera11.10+ */
	background: url("Images/navigate-previous.png") no-repeat center center, -ms-linear-gradient(top, #FFF 0%,#ECECEC 100%);
	/* IE10+ */
	background: url("Images/navigate-previous.png") no-repeat center center, linear-gradient(top, #FFF 0%,#ECECEC 100%);
	/* W3C */
	-pie-background: url("Skins/Default/Stylesheets/Images/navigate-previous.png") no-repeat center center, linear-gradient(#FFF, #ECECEC);
	/*PIE*/
}

.button.next-topic-button
{
	background: #ECECEC url("Images/navigate-next.png") no-repeat center center;
	/* Old browsers */
	background: url("Images/navigate-next.png") no-repeat center center, -moz-linear-gradient(top, #FFF 0%, #ECECEC 100%);
	/* FF3.6+ */
	background: url("Images/navigate-next.png") no-repeat center center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFF), color-stop(100%,#ECECEC));
	/* Chrome,Safari4+ */
	background: url("Images/navigate-next.png") no-repeat center center, -webkit-linear-gradient(top, #FFF 0%,#ECECEC 100%);
	/* Chrome10+,Safari5.1+ */
	background: url("Images/navigate-next.png") no-repeat center center, -o-linear-gradient(top, #FFF 0%,#ECECEC 100%);
	/* Opera11.10+ */
	background: url("Images/navigate-next.png") no-repeat center center, -ms-linear-gradient(top, #FFF 0%,#ECECEC 100%);
	/* IE10+ */
	background: url("Images/navigate-next.png") no-repeat center center, linear-gradient(top, #FFF 0%,#ECECEC 100%);
	/* W3C */
	-pie-background: url("Skins/Default/Stylesheets/Images/navigate-next.png") no-repeat center center, linear-gradient(#FFF, #ECECEC);
	/*PIE*/
}

.button.current-topic-index-button
{
	color: #6C6C6C;
	text-shadow: 0 1px 0 #FFF;
	width: auto;
	padding: 0 12px;
	font-size: 11px;
	font-weight: bold;
}

.button.current-topic-index-button.disabled
{
	display: none;
}

.button.expand-all-button
{
	background: #ECECEC url("Images/expand.png") no-repeat center center;
	/* Old browsers */
	background: url("Images/expand.png") no-repeat center center, -moz-linear-gradient(top, #FFF 0%, #ECECEC 100%);
	/* FF3.6+ */
	background: url("Images/expand.png") no-repeat center center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFF), color-stop(100%,#ECECEC));
	/* Chrome,Safari4+ */
	background: url("Images/expand.png") no-repeat center center, -webkit-linear-gradient(top, #FFF 0%,#ECECEC 100%);
	/* Chrome10+,Safari5.1+ */
	background: url("Images/expand.png") no-repeat center center, -o-linear-gradient(top, #FFF 0%,#ECECEC 100%);
	/* Opera11.10+ */
	background: url("Images/expand.png") no-repeat center center, -ms-linear-gradient(top, #FFF 0%,#ECECEC 100%);
	/* IE10+ */
	background: url("Images/expand.png") no-repeat center center, linear-gradient(top, #FFF 0%,#ECECEC 100%);
	/* W3C */
	-pie-background: url("Skins/Default/Stylesheets/Images/expand.png") no-repeat center center, linear-gradient(#FFF, #ECECEC);
	/*PIE*/
}

.button.collapse-all-button
{
	background: #ECECEC url("Images/collapse.png") no-repeat center center;
	/* Old browsers */
	background: url("Images/collapse.png") no-repeat center center, -moz-linear-gradient(top, #FFF 0%, #ECECEC 100%);
	/* FF3.6+ */
	background: url("Images/collapse.png") no-repeat center center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFF), color-stop(100%,#ECECEC));
	/* Chrome,Safari4+ */
	background: url("Images/collapse.png") no-repeat center center, -webkit-linear-gradient(top, #FFF 0%,#ECECEC 100%);
	/* Chrome10+,Safari5.1+ */
	background: url("Images/collapse.png") no-repeat center center, -o-linear-gradient(top, #FFF 0%,#ECECEC 100%);
	/* Opera11.10+ */
	background: url("Images/collapse.png") no-repeat center center, -ms-linear-gradient(top, #FFF 0%,#ECECEC 100%);
	/* IE10+ */
	background: url("Images/collapse.png") no-repeat center center, linear-gradient(top, #FFF 0%,#ECECEC 100%);
	/* W3C */
	-pie-background: url("Skins/Default/Stylesheets/Images/collapse.png") no-repeat center center, linear-gradient(#FFF, #ECECEC);
	/*PIE*/
}

.button.print-button
{
	background: #ECECEC url("Images/printer.png") no-repeat center center;
	/* Old browsers */
	background: url("Images/printer.png") no-repeat center center, -moz-linear-gradient(top, #FFF 0%, #ECECEC 100%);
	/* FF3.6+ */
	background: url("Images/printer.png") no-repeat center center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFF), color-stop(100%,#ECECEC));
	/* Chrome,Safari4+ */
	background: url("Images/printer.png") no-repeat center center, -webkit-linear-gradient(top, #FFF 0%,#ECECEC 100%);
	/* Chrome10+,Safari5.1+ */
	background: url("Images/printer.png") no-repeat center center, -o-linear-gradient(top, #FFF 0%,#ECECEC 100%);
	/* Opera11.10+ */
	background: url("Images/printer.png") no-repeat center center, -ms-linear-gradient(top, #FFF 0%,#ECECEC 100%);
	/* IE10+ */
	background: url("Images/printer.png") no-repeat center center, linear-gradient(top, #FFF 0%,#ECECEC 100%);
	/* W3C */
	-pie-background: url("Skins/Default/Stylesheets/Images/printer.png") no-repeat center center, linear-gradient(#FFF, #ECECEC);
	/*PIE*/
}

.button.remove-highlight-button
{
	background: #ECECEC url("Images/highlight.png") no-repeat center center;
	/* Old browsers */
	background: url("Images/highlight.png") no-repeat center center, -moz-linear-gradient(top, #FFF 0%, #ECECEC 100%);
	/* FF3.6+ */
	background: url("Images/highlight.png") no-repeat center center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFF), color-stop(100%,#ECECEC));
	/* Chrome,Safari4+ */
	background: url("Images/highlight.png") no-repeat center center, -webkit-linear-gradient(top, #FFF 0%,#ECECEC 100%);
	/* Chrome10+,Safari5.1+ */
	background: url("Images/highlight.png") no-repeat center center, -o-linear-gradient(top, #FFF 0%,#ECECEC 100%);
	/* Opera11.10+ */
	background: url("Images/highlight.png") no-repeat center center, -ms-linear-gradient(top, #FFF 0%,#ECECEC 100%);
	/* IE10+ */
	background: url("Images/highlight.png") no-repeat center center, linear-gradient(top, #FFF 0%,#ECECEC 100%);
	/* W3C */
	-pie-background: url("Skins/Default/Stylesheets/Images/highlight.png") no-repeat center center, linear-gradient(#FFF, #ECECEC);
	/*PIE*/
}

.loading
{
	background-image: url("Images/loading.gif");
	background-repeat: no-repeat;
	background-position: center;
}

.loading .button.star-button
{
	visibility: hidden;
}

.button.star-button
{
	border: none;
	width: 16px;
	margin: 0px 2px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.button.topic-ratings-button
{
	background: url("Images/star-full.png") no-repeat center center;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.button.topic-ratings-empty-button
{
	background: url("Images/star-empty.png") no-repeat center center;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.button.login-button
{
	background: #ECECEC url("Images/login.png") no-repeat center center;
	/* Old browsers */
	background: url("Images/login.png") no-repeat center center, -moz-linear-gradient(top, #FFF 0%, #ECECEC 100%);
	/* FF3.6+ */
	background: url("Images/login.png") no-repeat center center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFF), color-stop(100%,#ECECEC));
	/* Chrome,Safari4+ */
	background: url("Images/login.png") no-repeat center center, -webkit-linear-gradient(top, #FFF 0%,#ECECEC 100%);
	/* Chrome10+,Safari5.1+ */
	background: url("Images/login.png") no-repeat center center, -o-linear-gradient(top, #FFF 0%,#ECECEC 100%);
	/* Opera11.10+ */
	background: url("Images/login.png") no-repeat center center, -ms-linear-gradient(top, #FFF 0%,#ECECEC 100%);
	/* IE10+ */
	background: url("Images/login.png") no-repeat center center, linear-gradient(top, #FFF 0%,#ECECEC 100%);
	/* W3C */
	-pie-background: url("Skins/Default/Stylesheets/Images/login.png") no-repeat center center, linear-gradient(#FFF, #ECECEC);
	/*PIE*/
}

.button.edit-user-profile-button
{
	background: #ECECEC url("Images/edit-profile.png") no-repeat center center;
	/* Old browsers */
	background: url("Images/edit-profile.png") no-repeat center center, -moz-linear-gradient(top, #FFF 0%, #ECECEC 100%);
	/* FF3.6+ */
	background: url("Images/edit-profile.png") no-repeat center center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFF), color-stop(100%,#ECECEC));
	/* Chrome,Safari4+ */
	background: url("Images/edit-profile.png") no-repeat center center, -webkit-linear-gradient(top, #FFF 0%,#ECECEC 100%);
	/* Chrome10+,Safari5.1+ */
	background: url("Images/edit-profile.png") no-repeat center center, -o-linear-gradient(top, #FFF 0%,#ECECEC 100%);
	/* Opera11.10+ */
	background: url("Images/edit-profile.png") no-repeat center center, -ms-linear-gradient(top, #FFF 0%,#ECECEC 100%);
	/* IE10+ */
	background: url("Images/edit-profile.png") no-repeat center center, linear-gradient(top, #FFF 0%,#ECECEC 100%);
	/* W3C */
	-pie-background: url("Skins/Default/Stylesheets/Images/edit-profile.png") no-repeat center center, linear-gradient(#FFF, #ECECEC);
	/*PIE*/
}

/**/
/* Feedback */

.pulse-frame
{
	width: 100%;
	border: none;
	margin-top: 17px;
	visibility: visible;
	height: 1000px;
}

.feedback-comments-wrapper.feedback-embedded .pulse-frame
{
	display: block;
}

.feedback-comments-wrapper.responsive,
.feedback-comments-wrapper.responsive .pulse-frame,
.pulse-frame.pulse-loading
{
	visibility: hidden;
	height: 1px;
}

.feedback-comments-wrapper.hidden
{
	display: none;
}

.feedback-comments-wrapper .comments-header
{
	color: #749AB6;
	font-size: 2em;
	font-weight: bold;
	margin: 17px 0;
}

.comments
{
	
}

.comments .comment
{
	border-bottom: 2px solid #ddd;
	padding: 10px;
	max-width: 400px;
}

.comments .comment:last-child
{
	border-bottom: none;
}

.comments .comment .comment
{
	margin-left: 45px;
}

.comments .username
{
	color: #749AB6;
	font-family: Georgia;
	font-weight: bold;
	font-style: italic;
	margin-right: 10px;
	display: none;
}

html.feedback-anonymous-enabled .comments .username
{
	display: inline;
}

.comments .timestamp
{
	color: #888;
	font-family: Georgia;
	font-size: 11px;
	font-weight: normal;
	font-style: italic;
}

.comments .subject
{
	color: #888;
	font-weight: bold;
}

.comments .body
{
	
}

.comment-form-wrapper
{
	
}

.comment-form-wrapper .username-field,
.comment-form-wrapper .subject-field
{
	width: 200px;
	padding: 5px;
	border: 1px solid #ccc;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.comment-form-wrapper .username-field
{
	display: none;
}

html.feedback-anonymous-enabled .comment-form-wrapper .username-field
{
	display: inline-block;
}

.comment-form-wrapper .body-field
{
	font-family: Arial;
	width: 406px;
	height: 60px;
	padding: 10px;
	border: 1px solid #ccc;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.comment-form-wrapper .field-error
{
	border: solid 1px #F00;
	background-color: #FEE7E7;
}

.comment-form-wrapper .comment-submit
{
	
}

/**/

.mc-template
{
	display: none;
}

#mc-background-tint
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	filter: alpha( opacity = 0 );
	opacity: 0.0;
}

#contentBody #mc-background-tint
{
	position: absolute;
}

#mc-background-tint.light
{
	background-color: #FFF;
}

#mc-background-tint.dark
{
	background-color: #000;
}

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */

.clearfix:before,
.clearfix:after
{
	content: "";
	display: table;
}

.clearfix:after
{
	clear: both;
}

.clearfix
{
	zoom: 1;
}

span.SearchHighlight
{
	
}

span.SearchHighlight1
{
	
}

span.SearchHighlight2
{
	
}

span.SearchHighlight3
{
	
}

span.SearchHighlight4
{
	
}

span.SearchHighlight5
{
	
}

span.SearchHighlight6
{
	
}

span.SearchHighlight7
{
	
}

span.SearchHighlight8
{
	
}

span.SearchHighlight9
{
	
}

span.SearchHighlight10
{
	
}

.highlightGlossary,
.highlightIndex
{
	font-weight: bold;
}

