@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);
/*<meta />*/

@font-face
{
   font-family: 'Noto Sans';
   src: url(../Fonts/NotoSans-Regular.ttf);
} 

@font-face
{
   font-family: 'Noto Serif';
   src: url(../Fonts/NotoSerif-Regular.ttf);
} 

div.GlossaryPageDefinition
{
	font-family: Helvetica;
	font-size: 0.9em;
}

div.GlossaryPageEntry
{
	font-family: Helvetica;
	font-size: 0.9em;
}

div.GlossaryPageTerm
{
	font-family: Helvetica;
	font-size: 0.9em;
}

h1
{
	margin-top: 0em;
	mc-hyphenate: never;
	mc-heading-level: 2;
	margin: 0;
	color: #191919;
	border-top-style: solid;
	border-top-width: 4px;
	border-top-color: #f26522;
	font-size: 1.20em;
	margin-bottom: 1em;
	font-family: 'Noto Sans';
	font-weight: bold;
}

h1.xTOC
{
	margin-top: 0em;
	mc-heading-level: 0;
	mc-auto-number-format: ;
	color: #191919;
	margin-bottom: 0em;
	border-top-color: #f26522;
	font-size: 1.2em;
	font-family: 'Noto Sans';
}

h2
{
	margin-top: 0em;
	mc-hyphenate: never;
	page-break-before: always;
	mc-heading-level: 3;
	margin: 0;
	color: #191919;
	border-top-color: #f26522;
	border-top-style: solid;
	border-top-width: 2px;
	font-size: 1.15em;
	margin-bottom: 0.9em;
	font-family: 'Noto Sans';
	font-weight: bold;
}

h3
{
	margin-top: 0em;
	mc-hyphenate: never;
	mc-heading-level: 4;
	margin: 0;
	color: #191919;
	font-size: 1.10em;
	margin-bottom: 0.7em;
	font-family: 'Noto Sans';
	font-weight: bold;
}

h4
{
	margin-top: 0em;
	mc-hyphenate: never;
	mc-heading-level: 5;
	margin: 0;
	color: #191919;
	font-size: 1.05em;
	margin-bottom: 0.6em;
	font-family: 'Noto Sans';
	font-weight: bold;
}

h5
{
	font-weight: bold;
	margin-top: 1.2em;
	mc-heading-level: 0;
	margin-bottom: 0.5em;
	color: #191919;
	font-size: 1.03em;
	font-family: 'Noto Sans';
}

h6
{
	mc-heading-level: 0;
	font-weight: bold;
	margin-top: 1.2em;
	margin-bottom: 0.5em;
	color: #191919;
	font-size: 1em;
	font-family: 'Noto Sans';
}

img.img_1
{
	left: 0;
	margin-left: 0pt;
	mso-position-horizontal-relative: page;
	mso-position-vertical-relative: page;
	text-align: left;
	visibility: visible;
	z-index: 1;
}

img.img_2
{
	visibility: visible;
}

kbd
{
	color: #800000;
	font-family: Consolas;
	font-size: 10pt;
}

li
{
	display: list-item;
	orphans: 2;
	widows: 2;
	mc-hyphenate: never;
	list-style-image: url('../Images/BulletImages/Bullet1_printed_Liox.png');
	margin-bottom: 0.8em;
	margin-top: 0.8em;
	margin-left: -24px;
	padding-left: 6px;
	font-family: 'Noto Serif';
	font-size: 16px;
}

li.Compact
{
	margin-bottom: 0.3em;
	margin-top: 0.3em;
}

li.Indent2
{
	display: list-item;
	list-style-image: url('../Images/BulletImages/Bullet3_printed_Liox.png');
	margin-bottom: 0.8em;
	margin-top: 0.8em;
	margin-left: 24px;
}

li.Last
{
	list-style-type: none;
	left: 1px;
	margin-left: -16px;
	margin-bottom: 14px;
	border-bottom: solid 1px;
	border-bottom-color: #0079c1;
}

li.ListLetter
{
	list-style-type: lower-alpha;
	list-style-image: none;
	margin-left: 8px;
	margin-bottom: 0.8em;
	margin-top: 0.8em;
}

li.ListNumber
{
	list-style-type: decimal;
	list-style-image: none;
	margin-bottom: 1.12em;
	margin-top: 1.12em;
	margin-left: -18px;
}

li.ListNumber_Indent
{
	list-style-type: decimal;
	list-style-image: none;
	margin-bottom: 1.12em;
	margin-top: 1.12em;
	margin-left: 4px;
}

li.SingleStep
{
	list-style-type: none;
	margin-bottom: 1.12em;
	margin-top: 1.12em;
	orphans: 2;
	widows: 2;
	list-style-image: url('../Images/BulletImages/BulletSS_printed_Liox.png');
}

li.SingleStep_Indent
{
	list-style-type: none;
	margin-bottom: 1.12em;
	margin-top: 1.12em;
	orphans: 2;
	widows: 2;
	margin-left: 8px;
	list-style-image: url('../Images/BulletImages/BulletSS_printed_Liox.png');
}

MadCap|breadcrumbsProxy
{
	border-bottom: none;
	color: #000000;
	mc-breadcrumbs-count: 4;
	font-size: 0.8em;
	font-family: 'Noto Sans';
}

MadCap|conceptLink
{
	border-top: solid 1px #226655;
	margin-top: 2em;
}

MadCap|dropDown
{
	margin-bottom: 1.12em;
	margin-top: 1.12em;
}

MadCap|dropDown.Indent
{
	margin-left: 24px;
}

MadCap|dropDownBody
{
	background-color: #f5f5f5;
}

MadCap|dropDownBody.Clear
{
	background-color: #ffffff;
}

MadCap|dropDownBody.Indent
{
	margin-left: 24px;
}

MadCap|dropDownBody.Shaded
{
	background-color: #e6f5eb;
}

MadCap|dropDownHead
{
	page-break-after: avoid;
	margin-bottom: 1.12em;
	widows: 2;
	orphans: 2;
	font-size: 16px;
	font-family: 'Noto Serif';
}

MadCap|dropDownHead.H6
{
	page-break-after: avoid;
	margin-bottom: 1.0em;
	font-family: Helvetica;
	color: #800000;
	font-size: 1em;
}

MadCap|dropDownHead.Indent
{
	margin-left: 24px;
}

MadCap|dropDownHotspot
{
	color: #0000ff;
	font-size: 1em;
	text-decoration: none;
	font-weight: bold;
	font-family: 'Noto Serif';
}

MadCap|footnote
{
	font-family: Corbel;
	font-size: 9pt;
}

MadCap|glossaryTerm
{
	color: #000000;
}

MadCap|indexProxy
{
	border-top-style: none;
	border-top-width: 0px;
}

MadCap|popupBody
{
	font-size: 9pt;
	background-color: #f4f7fb;
	font-family: 'Noto Serif';
}

MadCap|popupHead
{
	color: #000000;
}

MadCap|tocProxy
{
	mc-leader-align: right;
	margin-right: 0px;
	border-top-style: none;
	padding-right: 0px;
	margin-left: -20px;
}

MadCap|variable.Client
{
	font-family: 'Segoe UI';
	font-size: 16pt;
	font-weight: bold;
	border-top: solid 4px #66aa99;
	text-align: right;
}

MadCap|variable.PageNumber
{
	font-family: 'Segoe UI';
	font-size: 14pt;
	color: #226655;
	font-weight: bold;
}

MadCap|xref
{
	font-size: 1em;
	text-decoration: underline;
	font-family: 'Noto Serif';
}

MadCap|xref.PageNumberOnly
{
	mc-format: '{page}';
	font-family: 'Noto Serif';
}

MadCap|xref.ParaTextOnly
{
	font-size: 1.00em;
	mc-format: '{color blue}{paratext}{/color}';
	font-family: 'Noto Serif';
}

MadCap|xref.TitleOnlyPrint
{
	mc-format: '{color blue}{paratext}{/color}';
	font-size: 1.00em;
	font-family: 'Lionbridge Sans';
}

ol.ol_1
{
	list-style-type: decimal;
	margin-left: 108pt;
}

ol.ol_2
{
	list-style-type: lower-alpha;
	margin-left: 126pt;
}

p
{
	orphans: 2;
	widows: 2;
	mc-hyphenate: never;
	font-family: 'Noto Serif';
	margin-bottom: 1em;
	font-size: 16px;
}

p.Example
{
	font-family: CourierThai;
	font-size: 10pt;
	margin-bottom: 1.12em;
	margin-top: 0em;
	padding-top: 4px;
	padding-bottom: 4px;
	border-top: solid 1px #0079c1;
	border-bottom: solid 1px #0079c1;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #0079c1;
	background-color: #f4f7fb;
}

p.Example_Indent
{
	font-family: CourierThai;
	font-size: 10pt;
	margin-bottom: 1.12em;
	margin-top: 0em;
	padding-top: 4px;
	padding-bottom: 4px;
	border-top: solid 1px #0079c1;
	border-bottom: solid 1px #0079c1;
	margin-left: 24px;
	background-color: #f4f7fb;
}

p.Example_Indent2
{
	font-family: CourierThai;
	font-size: 10pt;
	margin-bottom: 1.12em;
	margin-top: 0em;
	padding-top: 4px;
	padding-bottom: 4px;
	border-top: solid 1px #0079c1;
	border-bottom: solid 1px #0079c1;
	margin-left: 48px;
	page-break-after: avoid;
	page-break-after: avoid;
	background-color: #f4f7fb;
}

p.Examples
{
	border-top: solid 1px #0079c1;
	padding-left: 0em;
	padding-right: 0em;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	page-break-after: avoid;
	margin-bottom: 1em;
	background-color: #e0e9ef;
	font-family: CourierThai;
}

p.Examples_Indent
{
	border-top: solid 1px #0079c1;
	padding-left: 0em;
	padding-right: 0em;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	background-color: #e0e9ef;
	border-top-color: #0079c1;
	margin-left: 24px;
	page-break-after: avoid;
	margin-bottom: 1em;
	border-top-style: solid;
	border-top-width: 1px;
	font-family: CourierThai;
}

p.Field
{
	page-break-after: avoid;
	font-style: normal;
	font-size: 0.8em;
	font-weight: normal;
	mc-disable-glossary-terms: true;
	margin-bottom: 1.12em;
	color: #00adee;
	font-family: Calibri;
}

p.Figure
{
	font-size: 10pt;
	page-break-inside: avoid;
	margin-bottom: 1.12em;
	margin-top: 1.12em;
	font-family: Calibri;
}

p.Figure_Indent
{
	margin-left: 24px;
	margin-top: 2em;
	margin-bottom: 2em;
	page-break-inside: avoid;
}

p.Indent
{
	margin-bottom: 1.12em;
	margin-left: 24px;
}

p.Indent_Compact
{
	margin-bottom: 0em;
	margin-left: 24px;
}

p.Indent2
{
	margin-left: 48px;
}

p.Indent2_Compact
{
	margin-left: 48px;
	margin-bottom: 0em;
}

p.IndexHeading
{
	text-align: left;
}

p.Index1
{
	margin: 0;
	mc-leader-offset: auto;
}

p.Index2
{
	margin-bottom: 0em;
	margin-top: 0em;
	margin-left: 10pt;
	mc-leader-offset: auto;
}

p.Index3
{
	margin: 0;
	mc-leader-offset: auto;
	margin-left: 20pt;
}

p.KeepWithNext
{
	font-size: 10pt;
	margin-bottom: 1.12em;
	page-break-after: avoid;
	font-family: 'Noto Serif';
}

p.KeepWithNext
{
	font-family: Calibri;
	font-size: 10pt;
}

p.TableHeading
{
	margin-bottom: 0em;
	margin-top: 0em;
	font-size: 16px;
	font-family: 'Noto Sans';
}

p.TableText
{
	margin-bottom: 0.2em;
	margin-top: 0.2em;
	font-size: 16px;
	font-family: 'Noto Serif';
}

p.Title
{
	margin-bottom: 1.12em;
	margin-left: 0in;
	mc-hyphenate: never;
	color: #191919;
	font-weight: bolder;
	text-align: left;
	margin-top: 0.5em;
	font-size: 2em;
	font-family: 'Noto Sans';
}

p.TitleReleaseNotes
{
	font-weight: normal;
	margin-top: 20 pt;
	margin-bottom: 20 pt;
	margin-left: 0in;
	mc-hyphenate: never;
	text-align: left;
	color: #191919;
	font-size: 24pt;
	font-family: 'Noto Sans';
}

p.TitleFreeway
{
	color: #191919;
	font-weight: normal;
	margin-top: 0 pt;
	margin-bottom: 20 pt;
	margin-left: 0in;
	mc-hyphenate: never;
	text-align: left;
	font-size: 20pt;
	font-family: 'Noto Sans';
}

p.TOC1
{
	font-size: 11pt;
	mc-leader-offset: 0pt;
	margin-left: 0pt;
	font-family: 'Noto Sans';
}

p.TOC2
{
	font-weight: bold;
	margin-bottom: 0em;
	mc-leader-offset: 0pt;
	margin-top: 0.8em;
}

p.TOC3
{
	margin: 0;
	margin-left: 20pt;
	mc-leader-offset: 0pt;
}

p.TOC4
{
	margin-bottom: 0em;
	margin-top: 0em;
	mc-leader-offset: 0pt;
}

p.TOC5
{
	mc-heading-level: 0;
}

p.TOC6
{
	mc-heading-level: 0;
}

p.TOC7
{
	mc-heading-level: 0;
}

p.TOC8
{
	mc-heading-level: 0;
}

p.TOC9
{
	mc-heading-level: 0;
}

span.FieldLabel
{
	font-size: 16px;
	font-weight: normal;
	mc-disable-glossary-terms: true;
	color: #00adee;
	font-family: Calibri;
}

span.ScreenElement
{
	font-weight: bold;
	mc-disable-glossary-terms: true;
	font-size: 1em;
	font-family: 'Noto Sans';
}

table.Indent
{
	caption-side: top;
	margin-left: 24px;
}

td.Header
{
	font-weight: bold;
	background-color: #e0e9ef;
	padding-left: 5pt;
	font-size: 16px;
	font-family: 'Noto Sans';
}

th
{
	vertical-align: middle;
	text-align: left;
	font-weight: bold;
	mc-hyphenate: never;
	font-size: 16px;
	font-family: 'Noto Sans';
}

ul.Note
{
	margin-bottom: 0em;
	margin-top: 0em;
}

ul.ul_1
{
	list-style-type: square;
	margin-left: 108pt;
}

ul.ul_2
{
	list-style-type: square;
	margin-left: 126pt;
}

ul.ul_3
{
	list-style-type: square;
	margin-left: 50pt;
}

ul.ul_4
{
	list-style-type: square;
	margin-left: 144pt;
}

@media non-print
{
	MadCap|dropDownHead
	{
		margin-bottom: 0em;
		margin-top: 0px;
	}

	p.Break
	{
		border-top-width: 1px;
		border-top-color: #f26522;
		border-top-style: dashed;
		padding-top: 0px;
		margin-top: 2em;
		font-family: Emona;
	}

	MadCap|xref
	{
		mc-format: '{paratext}';
	}

	MadCap|xref.PageNumberOnly
	{
		mc-format: '{color blue}{paratext}{/color}';
	}

	MadCap|xref.ParaTextOnly
	{
		mc-format: '{color blue}{paratext}{/color}';
	}

	MadCap|xref.PageNoOnly
	{
		mc-format: '{color blue}{paratext}{/color}';
	}

	MadCap|xref.TitleOnlyPrint
	{
		font-size: 11pt;
		mc-format: '{color blue}{paratext}{/color}';
	}

	img.img_DropDownBodywide
	{
		max-width: 50px;
	}
}

@media print
{
	li
	{
		font-size: 11pt;
		list-style-type: square;
		margin-left: -0.60cm;
		margin-bottom: 0.5em;
		padding-left: 0px;
		list-style-image: url('../Images/BulletImages/Bullet1_printed_Liox.png');
		font-family: 'Arial';
		line-height: 15pt;
	}

	li.Compact
	{
		font-size: 11pt;
		font-family: 'Arial';
	}

	li.Indent
	{
		font-size: 11pt;
		list-style-type: disc;
		margin-left: -0.1cm;
		padding-left: 0px;
		list-style-image: url('../Images/BulletImages/Bullet2_printed_Liox.png');
		font-family: 'Arial';
	}

	li.Indent_Compact
	{
		font-size: 11pt;
		margin-bottom: 0em;
		margin-top: 0em;
		list-style-type: disc;
		margin-left: -0.1cm;
		padding-left: 0px;
		list-style-image: url('../Images/BulletImages/Bullet2_printed_Liox.png');
		font-family: 'Arial';
	}

	li.Indent2
	{
		font-size: 11pt;
		list-style-type: circle;
		margin-left: 0.50cm;
		margin-bottom: 0.5em;
		list-style-image: url('../Images/BulletImages/Bullet3_printed_Liox.png');
		font-family: 'Arial';
	}

	li.Last
	{
		font-size: 11pt;
		font-family: 'Arial';
	}

	li.ListLetter
	{
		margin-bottom: 0.50em;
		margin-top: 0.50em;
		font-size: 11pt;
		margin-left: 0.02cm;
		font-family: 'Arial';
	}

	li.ListNumber
	{
		font-size: 11pt;
		margin-left: -0.52cm;
		padding-left: 0pt;
		margin-bottom: 0.5em;
		font-family: 'Arial';
	}

	li.ListNumber_Indent
	{
		font-size: 11pt;
		margin-left: 0.02cm;
		margin-bottom: 0.5em;
		font-family: 'Arial';
	}

	li.SingleStep
	{
		list-style-image: url('../Images/BulletImages/BulletSS_printed_Liox.png');
		font-size: 11pt;
		font-family: 'Arial';
	}

	MadCap|dropDownBody
	{
		background-color: #ffffff;
		widows: 2;
	}

	MadCap|dropDownHead
	{
		page-break-before: avoid;
		page-break-inside: avoid;
		font-size: 11pt;
		font-family: 'Arial';
	}

	MadCap|dropDownHotspot
	{
		margin-bottom: 5pt;
		margin-top: 5pt;
		text-decoration: none;
		page-break-after: avoid;
		page-break-before: avoid;
		page-break-inside: avoid;
		font-size: 11pt;
		font-style: normal;
		color: #000000;
		font-family: 'Arial';
		font-weight: normal;
	}

	MadCap|footnote
	{
		font-size: 9pt;
		font-family: Emona;
	}

	MadCap|popupBody
	{
		font-family: Constantia;
		font-size: 9pt;
		background-color: #ffffff;
	}

	MadCap|variable.Client
	{
		font-family: 'Segoe UI';
		font-size: 16pt;
		font-weight: bold;
		border-top: solid 4px #0079c1;
		text-align: right;
	}

	MadCap|xref
	{
		font-size: inherit;
		mc-format: 'See "{paratext}" on page {page}';
		font-family: 'Arial';
	}

	MadCap|xref.ParaTextOnly
	{
		text-decoration: none;
		font-size: inherit;
		mc-format: '{color blue}{quote}{paratext}{quote}{/color} on page {color blue}{page}{/color}';
		font-family: 'Arial';
	}

	MadCap|xref.TitleOnlyPrint
	{
		font-family: inherit;
		font-size: inherit;
		mc-format: '{color blue}{quote}{paratext}{quote}{/color}';
		text-decoration: none;
	}

	p
	{
		margin: 0;
		margin-top: 5pt;
		font-size: 11pt;
		margin-bottom: 0.5em;
		font-family: 'Arial';
		line-height: 15pt;
	}

	p.Example
	{
		font-family: 'Courier New';
		font-size: 9pt;
		border-top-style: none;
		border-top-width: 0.5pt;
		border-top-color: #0079c1;
		border-bottom-style: none;
		border-bottom-width: 1pt;
		border-bottom-color: #0079c1;
		padding-top: 4px;
		padding-bottom: 4px;
		background-color: #f0f8ff;
	}

	p.Example_Indent
	{
		font-size: 9pt;
		font-family: 'Courier New';
		border-top-style: none;
		border-top-width: 0.5pt;
		border-top-color: #0079c1;
		border-bottom-style: none;
		border-bottom-width: 1pt;
		border-bottom-color: #0079c1;
		padding-top: 4px;
		padding-bottom: 4px;
		background-color: #f0f8ff;
	}

	p.Example_Indent2
	{
		font-family: 'Courier New';
		font-size: 9pt;
		border-top-style: none;
		border-top-width: 0.5pt;
		border-top-color: #0079c1;
		border-bottom-style: none;
		border-bottom-width: 1pt;
		border-bottom-color: #0079c1;
		padding-top: 4px;
		padding-bottom: 4px;
		background-color: #f0f8ff;
	}

	p.TableText
	{
		font-size: 11pt;
		font-family: 'Arial';
	}

	p.Title
	{
		margin-left: 0in;
		text-align: left;
		margin-bottom: 20pt;
		font-weight: normal;
		margin-top: 20pt;
		font-size: 24pt;
		color: #191919;
		font-family: 'Lionbridge Sans';
		line-height: 30pt;
	}

	span.FieldLabel
	{
		font-size: 11pt;
		color: #1476c6;
		font-family: 'Arial';
	}

	span.UIElement
	{
		font-size: 11pt;
		font-family: 'Arial';
	}

	td.Header
	{
		margin-bottom: 0px;
		margin-top: 0px;
		font-size: 10pt;
		background-color: #00bfff;
		font-family: 'Lionbridge Sans';
	}

	h1.xTOC
	{
		font-weight: bold;
		font-size: 15pt;
		Class: xTOC;
		mc-auto-number-format: '{ =0}';
		border-top-style: solid;
		border-top-color: #f26522;
		border-bottom-style: solid;
		border-bottom-width: 0px;
		color: #191919;
		font-family: 'Lionbridge Sans';
		border-top-width: 0px;
	}

	p.TOC1
	{
		margin: 0;
		margin-top: 10pt;
		font-size: 11pt;
		page-break-after: avoid;
		color: #191919;
		font-family: 'Lionbridge Sans';
	}

	p.TOC2
	{
		margin-left: 0in;
		margin-top: 5pt;
		font-size: 11pt;
		text-transform: none;
		font-weight: normal;
		font-style: normal;
		page-break-before: avoid;
		font-family: 'Lionbridge Sans Light';
	}

	p.TOC3
	{
		margin-left: 0.25in;
		page-break-before: avoid;
		margin-top: 5pt;
		font-family: 'Lionbridge Sans Light';
	}

	p.TOC4
	{
		margin-left: 0.5in;
		margin-top: 5pt;
		font-family: 'Lionbridge Sans Light';
	}

	p.TOC5
	{
		margin-top: 2pt;
		margin-left: 0.750in;
		margin-bottom: 0pt;
		font-family: 'Lionbridge Sans Light';
	}

	h1
	{
		font-weight: bold;
		font-size: 15pt;
		mc-heading-level: 1;
		margin: 0;
		margin-bottom: 10px;
		mc-auto-number-format: 'GH:{n+}  ';
		border-top-style: solid;
		border-top-width: 4px;
		border-bottom-style: solid;
		border-bottom-width: 0px;
		font-family: 'Lionbridge Sans';
		border-bottom-color: #f26522;
		border-top: solid 0px;
		border-bottom: solid 0px;
		color: #191919;
	}

	h2
	{
		page-break-before: avoid;
		font-weight: bold;
		font-style: normal;
		font-size: 14pt;
		mc-heading-level: 2;
		margin: 0;
		margin-left: 0pt;
		margin-top: 25pt;
		margin-bottom: 10px;
		mc-auto-number-format: 'GH:{n}.{n+}  ';
		border-top-style: solid;
		border-top-color: #f26522;
		font-family: 'Lionbridge Sans';
		border-top-width: 0px;
		color: #191919;
	}

	h3
	{
		margin: 0;
		font-weight: bold;
		font-style: normal;
		border-top-style: none;
		font-size: 13pt;
		mc-heading-level: 3;
		margin-top: 20pt;
		margin-bottom: 10pt;
		mc-auto-number-format: 'GH:{n}.{n}.{n+}  ';
		color: #191919;
		font-family: 'Lionbridge Sans';
	}

	h4
	{
		border-top-style: none;
		margin: 0;
		font-weight: bold;
		font-style: normal;
		font-size: 13pt;
		mc-heading-level: 4;
		margin-top: 20pt;
		margin-bottom: 10pt;
		mc-auto-number-format: 'GH:{n}.{n}.{n}.{n+}  ';
		color: #191919;
		font-family: 'Lionbridge Sans';
	}

	h5
	{
		margin: 0;
		font-weight: bold;
		font-style: normal;
		font-size: 12pt;
		margin-bottom: 10pt;
		margin-top: 15pt;
		mc-hyphenate: never;
		color: #191919;
		font-family: 'Lionbridge Sans';
	}

	h6
	{
		margin: 0;
		font-weight: bold;
		font-style: normal;
		font-size: 11pt;
		margin-bottom: 10pt;
		margin-top: 15pt;
		color: #191919;
		font-family: 'Lionbridge Sans';
	}

	p.Field
	{
		font-weight: normal;
		margin: 0px;
		margin-top: 5pt;
		font-family: Calibri;
		font-size: inherit;
		color: #1476c6;
	}

	p.IndexHeading
	{
		text-transform: uppercase;
		margin-top: 20px;
		margin-bottom: 10px;
		line-height: 20pt;
		padding-bottom: 10px;
		padding-top: 20px;
		color: #191919;
		font-family: 'Lionbridge Sans';
	}

	MadCap|xref.CSPageNoOnly
	{
		font-family: inherit;
	}

	p.MiniTOC1
	{
		font-size: 11pt;
		color: #191919;
		font-family: 'Lionbridge Sans';
	}

	p.MiniTOC2
	{
		margin-bottom: 0pt;
		color: #000000;
		font-size: 11pt;
		margin-top: 5pt;
		margin-left: auto;
	}

	p.MiniTOC3
	{
		margin-bottom: 0pt;
		margin-left: 0.25in;
		margin-top: 5pt;
		color: #000000;
		font-size: 11pt;
	}

	MadCap|miniTocProxy
	{
		background-color: #ffffff;
		border-top-style: none;
		width: 7in;
		padding-right: 20px;
		padding-top: 20pt;
		padding-bottom: 20px;
		border-bottom-color: #f26522;
		border-color: #f26522;
	}

	MadCap|shortcut
	{
		color: #0000ff;
	}

	li.SingleStep_Indent
	{
		list-style-image: url('../Images/BulletImages/BulletSS_printed_Liox.png');
		font-size: 11pt;
		margin-left: -0.1cm;
	}

	td
	{
		font-size: 9pt;
		vertical-align: top;
		color: #191919;
		font-family: 'Arial';
	}

	p.TableHeading
	{
		font-size: 11pt;
		font-family: 'Lionbridge Sans';
	}

	thead
	{
		font-size: 10pt;
		font-family: 'Lionbridge Sans';
	}

	span.Variable
	{
		font-family: 'Arial';
	}

	span.Code
	{
		
	}

	th
	{
		font-size: 10pt;
		font-family: 'Lionbridge Sans';
	}

	td.Regular
	{
		font-size: 11pt;
		font-family: 'Arial';
	}

	td.RightAlign
	{
		font-family: 'Arial';
	}

	p.Examples
	{
		font-family: 'Courier New';
		font-size: 9pt;
		border-top-style: none;
		border-top-width: 0.5px;
		border-top-color: #0079c1;
		padding-left: 0em;
		padding-right: 0em;
		padding-top: 0.3em;
		padding-bottom: 0.3em;
		background-color: #f0f8ff;
	}

	p.Examples_Indent
	{
		font-family: 'Courier New';
		font-size: 9pt;
		border-top-style: none;
		border-top-width: 0.5px;
		border-top-color: #0079c1;
		padding-left: 0em;
		padding-right: 0em;
		padding-top: 0.3em;
		padding-bottom: 0.3em;
		background-color: #f0f8ff;
	}

	MadCap|dropDown
	{
		page-break-before: avoid;
	}

	p.Footer
	{
		text-transform: normal;
		font-size: 10px;
		font-weight: normal;
		color: #191919;
		font-family: 'Arial';
	}

	MadCap|variable.variable_header
	{
		font-variant: normal;
		text-transform: normal;
		font-size: 9pt;
		color: #191919;
		font-family: 'Lionbridge Sans';
	}

	span.Footer
	{
		font-size: 9pt;
		color: #191919;
		font-family: 'Lionbridge Sans';
	}

	div
	{
		font-family: 'Noto Serif';
	}

	div.GlossaryPageDefinition
	{
		font-family: Emona;
	}

	div.GlossaryPageEntry
	{
		font-family: Emona;
	}

	div.GlossaryPageTerm
	{
		font-family: 'Emona SemiBold';
	}

	div.GlossaryPageHeading
	{
		font-family: 'Emona SemiBold';
		font-size: 10pt;
		color: #0079c1;
		border-bottom-style: solid;
		border-bottom-width: 0px;
		border-bottom-color: black;
	}

	p.Break
	{
		border-top-width: 1px;
		border-top-color: #0079c1;
		padding-top: 0px;
		margin-top: 2em;
		border-top-style: dashed;
		font-family: Helvetica;
	}

	p.Indent
	{
		font-size: 11pt;
		margin-bottom: 0.5em;
		margin-left: 0.5cm;
	}

	p.Subtitle
	{
		font-size: 24pt;
	}

	p.Subheading
	{
		font-family: Helvetica;
		font-weight: bold;
		font-style: normal;
		margin-top: 10pt;
		color: #1476c6;
		font-size: 12pt;
		page-break-after: avoid;
	}

	MadCap|xref.PageNoOnly
	{
		text-decoration: none;
		mc-format: 'page {color blue}{page}{/color}';
		font-family: 'Arial';
	}

	p.Figure
	{
		font-family: Calibri;
		font-size: inherit;
	}

	p.Indent2
	{
		font-size: 11pt;
		margin-left: 1cm;
	}

	code
	{
		font-family: 'Courier New';
		font-size: 12pt;
	}

	img.BigImage
	{
		mc-thumbnail: none;
	}

	MadCap|dropDownHotspot:focus
	{
		
	}

	MadCap|dropDownHead.Indent
	{
		font-size: 11pt;
		margin-left: 0.5cm;
	}

	MadCap|dropDownHead.H6
	{
		font-size: 11pt;
		font-family: 'Lionbridge Sans';
	}

	p.Product
	{
		margin-bottom: 20pt;
		font-weight: normal;
		margin-top: 150pt;
		font-size: 20pt;
		color: #f26522;
		font-family: 'Lionbridge Sans';
		line-height: 30pt;
	}

	p.ProductReleaseNotes
	{
		margin-bottom: 20pt;
		font-weight: normal;
		font-size: 20pt;
		margin-top: 20pt;
		color: #f26522;
		font-family: 'Lionbridge Sans';
		line-height: 30pt;
	}

	p.Version
	{
		margin-bottom: 12pt;
		margin-top: 0;
		font-size: 16pt;
		color: #191919;
		font-family: 'Lionbridge Sans';
	}

	p.Date
	{
		font-size: 16pt;
		color: #191919;
		font-family: 'Lionbridge Sans';
	}

	p.Line
	{
		border-top-style: solid;
		border-top-width: 2px;
		border-top-color: #f26522;
		padding-top: 0px;
	}

	p.NoteHeading
	{
		font-size: 11pt;
		background-color: #f5f5f5;
	}

	p.NoteHeadingIndent
	{
		margin-left: 0.5cm;
		background-color: #f5f5f5;
	}

	p.NoteHeadingIndent2
	{
		margin-left: 1cm;
		background-color: #f5f5f5;
	}

	p.NoteText
	{
		border-bottom: solid 1px;
	}

	p.NoteTextIndent
	{
		border-bottom-width: 1px;
		border-bottom: solid 1px;
		margin-left: 0.5cm;
	}

	p.NoteTextIndent2
	{
		border-bottom-width: 1px;
		border-bottom: solid 1px;
		margin-left: 1cm;
	}

	p.NoteHeadingTable
	{
		font-size: 11pt;
		background-color: #f5f5f5;
	}

	p.NoteHeadingTableIndent
	{
		margin-left: 0.50cm;
		background-color: #f5f5f5;
	}

	p.NoteTableText
	{
		border-bottom: solid 1px;
	}

	p.NoteTableTextIndent
	{
		border-bottom-width: 1px;
		border-bottom: solid 1px;
		margin-left: 0.5cm;
	}

	li.NoteBullet
	{
		margin-top: 0em;
		margin-bottom: 0pt;
	}

	li.NoteBulletLast
	{
		margin-top: 0em;
		margin-bottom: 0pt;
		border-bottom: solid 1px;
	}

	li.NoteBulletIndent
	{
		list-style-image: url('../Images/BulletImages/Bullet2_printed_Liox.png');
		list-style-type: circle;
		margin-left: 0cm;
	}

	li.NoteBulletIndentLast
	{
		border-bottom: solid 1px;
		list-style-image: url('../Images/BulletImages/Bullet2_printed_Liox.png');
		margin-left: 0px;
		list-style-type: circle;
	}

	li.TableBullet
	{
		margin-left: 0.5cm;
	}

	li.NoteBulletLastTable
	{
		margin-bottom: 0em;
		border-bottom: solid 1px;
		margin-left: -0.5cm;
	}

	span.Citation
	{
		font-style: italic;
		font-family: 'Arial';
	}

	span.Highlight
	{
		color: #0000ff;
	}

	p.Figure_Indent
	{
		margin-left: 0.5cm;
	}

	h1.SamePage
	{
		margin-top: 25px;
		page-break-after: auto;
		page-break-before: avoid;
	}

	p.BodyTextIndent
	{
		margin-left: 0.5cm;
	}

	ul
	{
		margin-left: 40px;
		margin-bottom: 0px;
		margin-top: 0px;
	}

	ol
	{
		margin-left: 40px;
	}

	ol.ol_1
	{
		margin-left: 30pt;
	}

	p.BodyTextIndent2
	{
		margin-left: 1cm;
	}

	ul.ul_1
	{
		margin-left: 30pt;
	}

	p.Code_Indent2
	{
		margin-left: 1cm;
		font-size: 12pt;
	}

	p.Code_Indent3
	{
		font-family: 'Courier New';
		margin-left: 1.5cm;
		font-size: 12pt;
	}

	p.Code_Indent4
	{
		font-family: 'Courier New';
		margin-left: 2cm;
		font-size: 12pt;
	}

	p.Code_Indent5
	{
		font-family: 'Courier New';
		margin-left: 2.5cm;
		font-size: 12pt;
	}

	p.Code_Indent6
	{
		font-family: 'Courier New';
		margin-left: 3cm;
		font-size: 12pt;
	}

	p.Code_Indent7
	{
		font-family: 'Courier New';
		margin-left: 3.5cm;
		font-size: 12pt;
	}

	p.Code_Indent8
	{
		font-family: 'Courier New';
		margin-left: 4cm;
		font-size: 12pt;
	}

	p.Code_Indent9
	{
		font-family: 'Courier New';
		margin-left: 4.5cm;
		font-size: 12pt;
	}

	p.Code_Indent10
	{
		font-family: 'Courier New';
		margin-left: 5cm;
		font-size: 12pt;
	}

	p.Code_Indent11
	{
		font-family: 'Courier New';
		margin-left: 5.5cm;
		font-size: 12pt;
	}

	span.ScreenElement
	{
		font-size: 11pt;
		font-family: 'Arial';
	}

	p.Bold
	{
		font-weight: bold;
		font-style: normal;
	}

	MadCap|tocProxy
	{
		padding-right: 0px;
	}

	p.Code_Indent
	{
		margin-left: 0.5cm;
		font-size: 12pt;
	}

	li.Indent2_Compact
	{
		font-size: 11pt;
		list-style-type: circle;
		margin-left: 0.50cm;
		margin-bottom: 0.00em;
		margin-top: 0em;
		list-style-image: url('../Images/BulletImages/Bullet3_printed_Liox.png');
		font-family: 'Arial';
	}

	span.CodeBold
	{
		font-family: 'Courier New';
		font-weight: bold;
		font-size: 12pt;
	}

	h1.noNumber
	{
		mc-auto-number-format: '{ =0}';
	}

	h1.SamePageNoNumber
	{
		mc-auto-number-format: '{ =0}';
		margin-top: 25px;
		page-break-before: avoid;
	}

	tr
	{
		page-break-inside: avoid;
	}

	span.Emphasis
	{
		font-style: italic;
	}

	li.ListLetter_Indent
	{
		margin-bottom: 0.50em;
		margin-top: 0.50em;
		font-size: 11pt;
		margin-left: 0.52cm;
		list-style-type: lower-alpha;
		font-family: 'Arial';
	}

	li.ListRoman_Upper
	{
		margin-bottom: 0.50em;
		margin-top: 0.50em;
		font-size: 11pt;
		margin-left: 0.52cm;
		list-style-image: none;
		list-style-type: upper-roman;
		font-family: 'Arial';
	}

	li.ListRoman_Indent
	{
		margin-bottom: 0.50em;
		margin-top: 0.50em;
		font-size: 11pt;
		margin-left: 1.02cm;
		list-style-image: none;
		list-style-type: lower-roman;
		font-family: 'Arial';
	}

	p.Indent3
	{
		margin-left: 1.5cm;
	}

	p.NoteHeadingIndent3
	{
		margin-left: 1.5cm;
		background-color: #f5f5f5;
	}

	li.Indent3
	{
		margin-left: 1cm;
	}

	li.Indent3_Compact
	{
		margin-left: 1cm;
		margin-bottom: 0em;
	}

	p.Indent_Compact
	{
		margin-left: 0.5cm;
	}

	p.Indent2_Compact
	{
		margin-left: 1cm;
	}

	p.TitleFreeway
	{
		color: #f26522;
	}

	p.TitleReleaseNotes
	{
		color: #191919;
		font-family: 'Lionbridge Sans';
	}

	h1.xTOCSamePageNoNumber
	{
		page-break-before: avoid;
		mc-auto-number-format: '{ =0}';
		Class: xTOC;
		mc-heading-level: 0;
	}

	p.TitleReadme
	{
		margin-bottom: 10pt;
		color: #191919;
		font-weight: bold;
		font-style: normal;
		font-size: 20pt;
		font-family: 'Lionbridge Sans';
	}

	p.ProductReadme
	{
		font-size: 16pt;
		margin-bottom: 10pt;
		font-weight: normal;
		font-style: normal;
		margin-top: 0;
		color: #f26522;
		font-family: 'Lionbridge Sans';
	}

	h2.xTOCNoNumber
	{
		page-break-before: avoid;
		font-weight: bold;
		font-style: normal;
		font-size: 14pt;
		mc-heading-level: 2;
		margin-left: 0pt;
		border-top-style: solid;
		border-top-width: 2px;
		border-top-color: #f26522;
		color: #191919;
		mc-auto-number-format: '{ =0}';
		margin-top: 20pt;
		margin-bottom: 10px;
		font-family: 'Lionbridge Sans';
	}

	p.Code
	{
		font-size: 12pt;
	}

	p.Hidden
	{
		
	}

	MadCap|dropDownHead.Indent2
	{
		margin-left: 1cm;
	}

	MadCap|dropDownHead.Indent3
	{
		margin-left: 1.5cm;
	}

	img.img_DropDownBodywideIndent
	{
		max-width: 17cm;
	}

	img.img_DropDownBodywide
	{
		max-width: 17.5cm;
	}

	img.img_DropDownBodywideIndent2
	{
		max-width: 16.50cm;
	}

	p.Indent4
	{
		margin-left: 2cm;
	}

	li.Indent4
	{
		margin-bottom: 0.50em;
		margin-top: 0.50em;
		font-size: 11pt;
		margin-left: 1.02cm;
		list-style-image: none;
		list-style-type: lower-roman;
		font-family: 'Arial';
	}

	li.ListLetter_Indent2
	{
		margin-bottom: 0.50em;
		margin-top: 0.50em;
		font-size: 11pt;
		margin-left: 1.02cm;
		list-style-image: none;
		font-family: 'Arial';
		list-style-type: lower-alpha;
	}

	MadCap|dropDownHead.Note
	{
		background-color: #f5f5f5;
	}

	p.NoteHeadingIndent4
	{
		background-color: #f5f5f5;
		margin-left: 2cm;
	}

	MadCap|dropDownHead.dropDownHeadIndent4
	{
		margin-left: 2cm;
	}
}

p.Footer
{
	text-transform: normal;
	font-variant: normal;
	font-family: Helvetica;
	font-size: 0.5em;
}

td
{
	padding-left: 2pt;
	mc-hyphenate: never;
	font-size: 16px;
	font-family: 'Noto Serif';
}

span.Footer
{
	font-size: 9pt;
	text-transform: normal;
	font-family: 'Lionbridge Sans';
}

td.RightAlign
{
	text-align: right;
}

MadCap|xref.CSPageNoOnly
{
	mc-format: '{pageref}';
	font-family: 'Noto Serif';
}

html.MiniTOCMasterPage
{
	mc-master-page: url('../MasterPages/Content API.flmsp');
}

MadCap|miniTocProxy
{
	border-top-style: none;
	border-color: #0079c1;
	border-style: solid;
	border-width: 2px;
	padding-bottom: 10px;
	padding-top: 0px;
	width: 5.50in;
	mc-toc-depth: 4;
	background-color: #f4f7fb;
}

p.MiniTOC1
{
	font-size: 0.9em;
	margin-bottom: 0em;
	margin-top: 0.8em;
	color: #0079c1;
	margin-left: 0pt;
}

p.MiniTOC2
{
	font-size: 0.9em;
	margin-bottom: 0em;
	margin-top: 0.5em;
	margin-left: 20pt;
	color: #0079c1;
}

p.MiniTOC3
{
	margin-bottom: 0em;
	margin-top: 0.5em;
	margin-left: 40pt;
	color: #0079c1;
	font-size: 0.90em;
}

p.MiniTOC4
{
	margin-bottom: 0em;
	margin-top: 0.5em;
	margin-left: 60pt;
	color: #0079c1;
	font-size: 0.90em;
}

td.Regular
{
	
}

img.img_icon
{
	mc-thumbnail-max-height: auto;
	margin-bottom: -6px;
}

MadCap|glossaryTerm.Popup
{
	font-weight: normal;
	text-decoration: none;
	color: #0000ff;
}

a.GlossaryPageTerm
{
	font-family: Helvetica;
	font-size: 0.8em;
}

a.Popup
{
	background-color: #e0e9ef;
}

li.Table
{
	font-size: 1em;
}

a.MiniTOC1
{
	
}

a.MiniTOC2
{
	
}

a.MiniTOC3
{
	
}

li.Table_Compact
{
	font-size: 1em;
	margin-bottom: 0em;
	margin-top: 0em;
}

span.Variable
{
	font-style: italic;
}

span.Code
{
	font-family: 'Courier New';
	font-size: 12pt;
	margin-bottom: 10px;
}

MadCap|variable.variable_header
{
	
}

p.Line
{
	page-break-after: avoid;
	margin-bottom: -1.5em;
	font-style: normal;
	font-size: 0.8em;
	font-weight: normal;
	mc-disable-glossary-terms: true;
	color: #00adee;
	margin-top: 1em;
	padding-top: 0px;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #f26522;
	font-family: 'Noto Serif';
}

table
{
	mc-hyphenate: never;
}

thead
{
	mc-hyphenate: never;
}

tbody
{
	mc-hyphenate: never;
	font-size: 11pt;
	font-family: 'Noto Serif';
}

p.Compact
{
	margin-top: 0em;
	margin-bottom: 0em;
	margin-left: 0em;
	margin-right: 0em;
	margin: 0em;
}

MadCap|xref.PageNoOnly
{
	mc-format: '{color blue}{paratext}{/color}';
	font-family: 'Noto Serif';
}

code
{
	font: Courier New;
	font-family: 'Courier New';
	font-size: 12pt;
}

p.Subheading
{
	font-weight: bold;
	font-style: normal;
	font-size: 12pt;
	color: #00adee;
	font-family: Helvetica;
}

img.BigImage
{
	mc-thumbnail: hover;
}

MadCap|dropDownHead.Indent2
{
	margin-left: 48px;
}

p.Code
{
	font-family: 'Courier New';
	font-size: 12pt;
}

p.Code_Indent
{
	font-family: 'Courier New';
	margin-left: 24px;
	font-size: 12pt;
}

p.Code_Indent2
{
	font-family: 'Courier New';
	margin-left: 48px;
	font-size: 12pt;
}

p.BodyText
{
	
}

li.Indent
{
	margin-bottom: 0.8em;
	margin-top: 0.8em;
	list-style-image: url('../Images/BulletImages/Bullet2_printed_Liox.png');
	padding-left: -2px;
	margin-left: 0px;
}

li.Indent_Compact
{
	list-style-image: url('../Images/BulletImages/Bullet2_printed_Liox.png');
	margin-bottom: 0.3em;
	margin-top: 0.3em;
	padding-left: -2px;
	margin-left: 0px;
}

li.ListLetter_Indent
{
	list-style-type: lower-alpha;
	list-style-image: none;
	margin-left: 32px;
}

p.Indent3
{
	margin-left: 72px;
}

a.MiniTOC1:link
{
	color: #0079c1;
}

a.MiniTOC1:visited
{
	color: #0079c1;
	text-decoration: none;
	font-size: 0.9em;
}

a.MiniTOC2:link
{
	color: #0079c1;
}

a.MiniTOC2:visited
{
	color: #0079c1;
	font-size: 0.9em;
	text-decoration: none;
}

a.MiniTOC3:link
{
	color: #0079c1;
}

a.MiniTOC3:visited
{
	color: #0079c1;
	font-size: 0.9em;
	text-decoration: none;
}

a:visited
{
	color: #0000ff;
	text-decoration: underline;
	font-size: 1em;
}

a.MCBreadcrumbsLink:visited
{
	
}

a.GlossaryPageTerm:visited
{
	
}

a.Popup:visited
{
	color: #ffffff;
}

span.blue
{
	color: #0000ff;
}

span.pink
{
	color: #ff00ff;
}

span.green
{
	color: #3cb371;
}

MadCap|xref.step
{
	mc-format: 'step {paranumonly}';
}

MadCap|xref.TOCPageNumber
{
	mc-format: '{color blue}{paratext}{/color}';
}

p.NoteHeading
{
	background-color: #eff2f6;
	margin-bottom: 0.8em;
	margin-top: 0.8em;
}

p.NoteHeadingIndent
{
	background-color: #eff2f6;
	margin-left: 24px;
	margin-bottom: 0.8em;
	margin-top: 0.8em;
}

p.NoteHeadingIndent2
{
	background-color: #eff2f6;
	margin-left: 48px;
	margin-top: 0.8em;
}

p.NoteHeadingIndent3
{
	background-color: #eff2f6;
	margin-left: 72px;
	margin-bottom: 0.8em;
	margin-top: 0.8em;
}

p.NoteHeadingTable
{
	background-color: #eff2f6;
	margin-bottom: 0.2em;
	margin-top: 0.2em;
}

p.NoteHeadingTableIndent
{
	background-color: #eff2f6;
	margin-bottom: 0.2em;
	margin-top: 0.2em;
	margin-left: 24px;
}

p.OLH_Section
{
	margin-left: 0in;
	mc-hyphenate: never;
	background-color: #eff2f6;
	border-top: solid 6px #191919;
	font-weight: bolder;
	margin-top: 0.5em;
	font-size: 2em;
	margin-bottom: 0.8em;
	color: #191919;
	border-top-color: #f26522;
	font-family: 'Noto Sans';
	text-align: left;
}

span.Citation
{
	font-style: italic;
}

span.Emphasis
{
	font-style: italic;
}

li.Indent2_Compact
{
	list-style-image: url('../Images/BulletImages/Bullet3_printed_Liox.png');
	margin-bottom: 0.3em;
	margin-top: 0.3em;
	margin-left: 24px;
}

li.Indent3
{
	margin-top: 0.8em;
	margin-left: 48px;
	list-style-image: url('../Images/BulletImages/Bullet3_printed_Liox.png');
}

li.Indent3_Compact
{
	margin-top: 0em;
	margin-left: 48px;
	list-style-image: url('../Images/BulletImages/Bullet3_printed_Liox.png');
}

p.OLH_Footer
{
	margin-top: 1em;
	margin-bottom: 0em;
	font-size: 0.8em;
	text-align: right;
	font-family: 'Noto Sans';
}

div.sideContent
{
	margin-left: 10px;
	margin-bottom: 10px;
	float: right;
	width: 30%;
}

@print
nav.tab-bar, div.sideContent
{
display: none;
} 

p.Code_Indent3
{
	font-family: 'Courier New';
	margin-left: 72px;
	font-size: 12pt;
}

p.Code_Indent10
{
	font-family: 'Courier New';
	margin-left: 240px;
	font-size: 12pt;
}

p.Code_Indent11
{
	font-family: 'Courier New';
	margin-left: 264px;
	font-size: 12pt;
}

p.Code_Indent4
{
	font-family: 'Courier New';
	margin-left: 96px;
	font-size: 12pt;
}

p.Code_Indent5
{
	font-family: 'Courier New';
	margin-left: 120px;
	font-size: 12pt;
}

p.Code_Indent6
{
	font-family: 'Courier New';
	margin-left: 144px;
	font-size: 12pt;
}

p.Code_Indent7
{
	font-family: 'Courier New';
	margin-left: 168px;
	font-size: 12pt;
}

p.Code_Indent8
{
	font-family: 'Courier New';
	margin-left: 192px;
	font-size: 12pt;
}

p.Code_Indent9
{
	font-family: 'Courier New';
	margin-left: 216px;
	font-size: 12pt;
}

li.ListRoman_Upper
{
	margin-left: 24px;
	list-style-type: upper-roman;
	list-style-image: none;
}

ul
{
	margin-bottom: 0em;
	margin-top: 0em;
}

ol
{
	margin-bottom: 0em;
	margin-top: 0em;
}

div.menu
{
	float: left;
}

span.NoteIntro
{
	font-family: 'Lionbridge Sans';
}

img.img_DropDownBodywide
{
	max-width: 920px;
}

img.img_DropDownBodyrightmenu
{
	max-width: 560px;
}

img.img_DropDownBodywideIndent2
{
	max-width: 870px;
}

MadCap|dropDownHead.Indent3
{
	margin-left: 72px;
}

p.Hidden
{
	display: none;
}

span.CodeBold
{
	font-size: 12pt;
	font-weight: bold;
	font-family: 'Courier New';
}

img.img_DropDownBodywideIndent
{
	max-width: 895px;
}

p.Indent4
{
	margin-left: 96px;
}

li.ListLetter_Indent2
{
	left: 1px;
	list-style-type: lower-alpha;
}

li.ListRoman_Indent
{
	list-style-type: lower-roman;
	margin-left: 48px;
	list-style-image: none;
}

MadCap|dropDownHead.Note
{
	background-color: #f5f5f5;
}

li.Indent4_bullet
{
	margin-top: 0.8em;
	margin-left: 72px;
	list-style-image: url('../Images/BulletImages/Bullet3_printed_Liox.png');
}

p.NoteHeadingIndent4
{
	background-color: #eff2f6;
	margin-bottom: 0.8em;
	margin-top: 0.8em;
	margin-left: 96px;
}

MadCap|dropDownHead.dropDownHeadIndent4
{
	margin-left: 96px;
}

span.CodeItalics
{
	font-family: 'Courier New';
	font-size: 12pt;
	font-style: italic;
}

