/*<meta />*/

/* Search */
/* Fix for safari/ios */

input[type="search"]
{
	-webkit-appearance: none;
}

.search,
.search-bar
{
	width: 100%;
	position: relative;
	color: #DADADA;
	margin: 0 auto;
}

.search-field
{
	text-align: left;
	width: 100%;
	height: 2em;
	padding-left: 10px;
	margin: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: none;
	border-radius: 25px;
	font: inherit;
	background: #FFFFFF;
	color: #5F5F5F;
	position: relative;
}

.search-field::-webkit-search-cancel-button
{
	display: none;
}

.search-filter
{
	float: left;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	background: #5F5F5F;
	line-height: 2em;
	padding-right: 5px;
	cursor: pointer;
	height: 2em;
	width: 45px;
	background: #ffffff url('../Images/FilterOutline.png') no-repeat center center;
}

.search-filter.selected
{
	background-image: url('../Images/Filter.png');
	background-repeat: no-repeat;
	background-position: center center;
}

.search-filter.open
{
	background-repeat: no-repeat;
	background-position: center center;
}

.search-filter-wrapper
{
	display: none;
	position: absolute;
	top: 0;
	right: 56px;
}

.search-filter-content
{
	display: none;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
	position: absolute;
	right: 0;
	top: 2em;
	line-height: normal;
	text-align: left;
	overflow: auto;
	z-index: 1;
	color: #888888;
	background-color: #ffffff;
	white-space: nowrap;
}

.search-filter-content ul
{
	list-style: none;
	margin: 0;
	padding: 6px;
}

.search-filter-content ul li
{
	padding: 5px;
	margin: 0;
}

.search-filter-content ul li:hover
{
	color: #000000;
	background-color: #ffffff;
}

.search-submit-wrapper
{
	position: absolute;
	top: 0;
	right: 0;
	tooltip: Search;
}

.search-submit
{
	width: 56px;
	height: 2em;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	background: #bed230 url('../Images/SearchIcon.png') no-repeat center center;
	cursor: pointer;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

/* Menu Styles */

ul.menu a
{
	text-decoration: none;
	outline: none;
	color: #000;
}

ul.menu,
ul.menu ul,
ul.menu li
{
	list-style: none;
	margin: 0;
}

ul.menu,
ul.menu ul,
ul.menu li
{
	padding: 0;
}

ul.menu li > a
{
	display: block;
}

ul.menu li > a.selected
{
	font-weight: bold;
}

/* Search Results Styles */

#results-heading
{
	border-bottom: solid 1px #ebebeb;
	margin-bottom: 20px;
	padding-bottom: 10px;
}

#resultList
{
	padding-left: 0;
	margin: 0;
	line-height: 1em;
	text-align: left;
	display: block;
}

#resultList h3.title a
{
	text-decoration: none;
	font-weight: normal;
	color: #0185D1;
	font-size: 1em;
}

#resultList h3.title
{
	line-height: 1.1em;
	margin-bottom: 2px;
	text-decoration: underline;
}

#resultList li
{
	list-style: none;
	margin-bottom: 16px;
}

#resultList .glossary
{
	padding: 15px;
	-webkit-box-shadow: 0px 1px 4px 0px #cccccc;
	-moz-box-shadow: 0px 1px 4px 0px #cccccc;
	box-shadow: 0px 1px 4px 0px #cccccc;
	line-height: normal;
	margin-bottom: 25px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	background-position: center center;
}

#resultList .glossary .term
{
	font-size: 1.5em;
	margin-bottom: 10px;
}

#communityResultList
{
	margin: 0;
	padding: 0 0 0 20px;
	list-style-image: none;
	list-style-type: none;
	font-size: 0.9em;
}

#communityResultList li
{
	margin: 10px 0px;
}

#communityResultList a
{
	text-decoration: none;
}

#resultList .glossary .term a:visited
{
	
}

#resultList h3.title a:visited
{
	color: #2200c1;
	text-decoration: underline;
}

#resultList .glossary .term a:focus
{
	
}

#resultList h3.title a:focus
{
	color: #2200c1;
	text-decoration: underline;
}

#communityResultList a:hover
{
	text-decoration: underline;
}

#pagination a:hover
{
	border-top: solid 1px #e2e2e6;
}

#resultList .glossary .term a:hover
{
	
}

#resultList h3.title a:hover
{
	color: #000000;
	text-decoration: underline;
}

#resultList .glossary .term a:active
{
	
}

#resultList h3.title a:active
{
	color: #2200c1;
	text-decoration: underline;
}

#resultList.communitySearch .title
{
	display: none;
}

#resultList.communitySearch #communityResultList
{
	padding: 0px;
}

.activityInfo
{
	color: #666;
}

.activityInfo a:link,
.activityInfo a:visited
{
	color: #666;
}

a.activityText:link,
a.activityText:visited
{
	color: #000;
}

.activityTime
{
	font-style: italic;
	font-size: 11px;
	color: #999;
	margin-left: 3px;
}

#pagination
{
	height: 40px;
	line-height: ;
}

#pagination a
{
	min-width: 34px;
	cursor: pointer;
	border: solid 1px #fafafc;
	margin: 20px 5px;
	padding: 2px 8px;
	border-top: solid 1px #fafafc;
	color: #0185D1;
	font-size: 1em;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-decoration: none;
}

#pagination a#selected
{
	font-weight: bold;
	border-top: solid 1px #e2e2e6;
}

#resultList .glossary .definition
{
	
}

#resultList .glossary .term a
{
	
}

h1#results-heading
{
	color: #393f45;
	font-size: 1.5em;
	font-weight: bold;
	font-style: normal;
}

#resultList .description
{
	font-size: 13px;
}

#resultList .url cite
{
	color: #0e774a;
	font-size: 13px;
	font-style: normal;
}

