/*======= 404 ===============*/
body{
    font-size: 14px;
    color: #f90;
    background: url('../img/noise.png');
    background-repeat: repeat;   
}

h1{font-size: 150px; margin-top: 0px; font-weight: 700;}

.center{
    text-align: center;
}

p {
	
}

.f1{font-size: 34px}


@keyframes bubbles1  
{
    0%  {opacity: 0; width:7px; height:7px; top:100px; left:70px;}
25%  {opacity: .25; width:8px; height:8px;  top:90px; left:70px;}
50%  {opacity: .5; width:9px; height:9px;  top:70px; left:70px;}
75%  {opacity: .75; width:10px; height:10px;  top:60px; left:65px;}
100%  {opacity: 0; width:11px; height:11px; top:30px; left:70px;}

}

@-webkit-keyframes bubbles1 
{
    0%  {opacity: 0; width:5px; height:5px; top:100px; left:70px;}
25%  {opacity: .25; width:6px; height:6px;  top:90px; left:70px;}
50%  {opacity: .5; width:7px; height:7px;  top:50px; left:70px;}
75%  {opacity: .75; width:9px; height:9px;  top:40px; left:65px;}
100%  {opacity: 0; width:10px; height:10px; top:10px; left:75px;}

}

#cflask-holder span{
    min-width: 320px;
    min-height: 220px;
    width: 320px;
    display: block;
	padding-top: 0px;
    margin:0px auto;
    text-align: center;
	color: #111;
    position: relative;
}

#cflask-holder span i{
    padding: 100px 0px 0px 0px;
    font-size: 120px;
}

#cflask-holder span i#b1{  
    position: absolute;
    min-width: 10px;
    min-height: 10px;
	font-size: 26px;
	font-style: normal;
	font-weight: 700;
    left: 70px;
    top: 70px;
    -webkit-animation: bubbles1 infinite linear 1s;
    animation: bubbles1 infinite linear 1s;
    padding: 0px;
}

#cflask-holder span i#b2{  
    position: absolute;
    min-width: 10px;
    min-height: 10px;
	font-size: 26px;
	font-style: normal;
    left: 70px;
    top: 70px;
    -webkit-animation: bubbles1 infinite linear 2s;
    animation: bubbles1 infinite linear 2s;
    padding: 0px;
}

#cflask-holder span i#b3{  
    position: absolute;
    min-width: 10px;
    min-height: 10px;
	font-size: 26px;
	font-style: normal;
    left: 70px;
    top: 70px;
    -webkit-animation: bubbles1 infinite linear 2500ms;
    animation: bubbles1 infinite linear 2500ms;
    padding: 0px;
}

.row1 p{
    font-size: 35px;
	max-width: 650px;
	margin: 0 auto;
}

/*
 * BUTTONS
*/

.btn-default {
	font-weight: 700;
	background: #f90;
	border:1px solid white;
	padding-left:20px;
	padding-right:20px;
	padding-top:10px;
	padding-bottom:10px;
	color: white;
	text-transform: uppercase;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
	background-color: #f60;
	border-color: #fff;
	color: white !important;
	opacity: 1;
}