@charset "utf-8";
/* CSS Document */

.navbar .container{
	padding-bottom: 20px !important;
}

.navbar .nav {
	margin-left: 220px !important;	
	margin-top: -10px !important;
	margin-bottom: -16px !important;
}
