@font-face
{
   font-family: 'Noto Sans';
   src: url(../fonts/NotoSans-Regular.ttf);
} 

@font-face
{
   font-family: 'Noto Serif';
   src: url(../fonts/NotoSerif-Regular.ttf);
} 
/*
	Credit: Marjoe Bacus
*/

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700');

/*GENERAL STYLING*/

html, body {
	height: 100%;
}

body {
	font: normal normal 300 normal 16px / 28px "Noto Serif", "Arial", sans-serif;
	color: #191919;
	overflow-x: hidden !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	color: #000000;
    font-weight: 300;
	font-family: "Noto Sans", Arial, sans-serif;
}

h2 {
    font-size: 40px !important;
    padding: 20px 0px;
}

h3 {
	font-family: "Noto Sans", arial;
	font-weight: 300;
	max-width: 830px;
}

h3 strong {
    font-weight: 300;
}

.limit {
	max-width: 830px;
	margin: 0 auto;	
}

.limit img {
    margin: 0 auto;
}

.hero h3 {
	margin: 0 auto;	
}

.head-root h3.m-left {
	margin-left: 20px !important;
}


h3 span {
    font-weight: 500;
    font-size: 16px;
}

h3 i {
	font-style: normal;
}

*/

.light{

}

a {
	color: #beccd0;
	text-decoration: none;
}

a:hover, a:focus {
	color: #a2afb3;
	text-decoration: underline;
}

a:focus {
	outline: thin dotted #191919;
	outline-offset: -2px;
}

/*
 * ELEMENTS
*/

.btn-default {
	font-weight: 300;
    font-size: 18px;
	background: none;
	border: none;
	padding-left:20px;
	padding-right:20px;
	padding-top:10px;
	margin-bottom: 20px;
	padding-bottom:10px;
	color: #f26522;
	text-transform: none;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
	background-color: #2F3238;
	border-color: #2F3238;
	color: white !important;
	opacity: 1;
}

a.active {
	background: #14addc !important;
	box-shadow: none !important;
	border-color: #14addc !important;	
}

.root-hero h1 {
	margin-top: -30px;	
}

.root-hero .row {
	margin-left: 15px;	
}

.root-hero h3 {
	margin-bottom: 10px;
    line-height: 25px;
    max-width: 600px;
}

.root-hero h4 {
	color: #fff;
	font-size: 20px;
	max-width: 360px;
    margin: 0 auto;
}

.img-responsive {
    max-width: 100% !important;
}

.m-left {
	margin-left: 20px;
}

.root-head {
    font-weight: 100;
	margin-bottom: 20px !important;
}

.head-root {
	background: #fff;
}

#head .btn-color-white:not(.active) {
	background: #000000;
	border-color: #000000;	
}

#head .btn-color-white:not(.active):hover {
	background: #444;
	border-color: #444;	
}

.top-pattern {
	background: #fff;
	width: 100%;
	height: 85px;
	position: absolute;	
}

#trust {
    margin: 30px;
    padding: 50px;
}

.company{
	margin-top: -30px;
	margin-left: -30px;
	position: absolute;
}

.root-hero .col-md-4 .btn{
    position: absolute;
    bottom: 30px;
}

.content-block, .communication-block, .cli-block {
	padding: 40px 20px 40px;
    margin-bottom: 50px;
	height: 500px;
	transition: all 0.3s ease;
}

.step-icons .tile {
    background: #f1f1f1;
    max-width: 45%;
    margin-left: 3%;
    border: 1px solid #000000;
}

.step-icons .step-nr {
    background: none !important;
}

.step-icons a {
    color: #000000 !important;
}

.step-icons img {
    width: 50px;
}

.step-icons h3:after {
    content: '';
    position: absolute;
    left: 40px;
    margin-top: 40px;
    width: 50px;
    height: 2px;
    background: #ccc;
}

.step-icons p {
    margin-top: 30px;
    width: 400px;
    position: absolute;
    margin-left: 15px !important;
    color: #000000 !important;
}

.cli-block {
	background: none;
}

.content-block {
	background: ;
    margin-right: 30px;
    margin-left: 60px;
    border: 1px solid #b39ed9;
}

.root-hero .btn {
	padding-right: 40px;
}

.root-hero .btn i {
	position: absolute;
	transition: all 0.3s ease;
	margin-top: 3px;	
}

.communication-block .btn, .content-block .btn {
    border-radius: 0px !important;
}

.content-block:hover .btn {
	background-color: #f26522;
    color: #fff;
}

.content-block:hover .btn i, .communication-block:hover .btn i, .cli-block:hover btn i{
	margin-left: 10px;
}

.communication-block {
	background: none;
    border: 1px solid #17c485 !important;
}

.communication-block:hover .btn {
	background-color: #f26522;
    color: #fff;
}

.cli-block:hover .btn {
	background-color: #12950f;
	border-color: #28ba24;
}

.content-block:hover::after, .communication-block:hover::after, .cli-block:hover::after {
    opacity: 0; 
}

.content-block h2, .communication-block h2, .cli-block h2, .content-block h4, .communication-block h4 {
	color: #000000;	
}

.content-block h4, .communication-block h4 {
	color: #888;
    font-size: 17px;
    line-height: 25px;
    font-weight: 300;
}

/*
 * navbar
*/


.navbar {
	border:0px;  
    font-family: "Noto Sans",Arial,sans-serif;
    background-color: none;
    opacity:1;
}

.navbar-nav {
	margin-top: 5px;
	margin-bottom: -15px;
}

.navbar-nav > li > a,
.navbar-nav .dropdown-menu > li > a {
	color: #363636;
    font-family: "Noto Sans",Arial,sans-serif;
	font-size:16px;
    font-weight: 300;

	letter-spacing: 0px;
	padding: 0px 10px;
}

.navbar-nav > li:first-child a{
    font-weight: 500;
    margin-right: 30px;
}

.navbar-nav > li > a:after {
    content: '';
    position: absolute;
    margin-left: 0px;
    opacity: 0.5;
}

.navbar-nav > li:first-child > a:after {
    content: '|';
    position: absolute;
    margin-left: 20px;
    opacity: 0.5;
}

.navbar-nav > li.active > a {
    font-weight: bold;
}

.navbar-nav .caret {
    border-bottom-color: white;
    border-top-color: white;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.navbar-nav .dropdown-menu > li.active > a {
    color: #973986 !important;
}

.nav a:hover .caret{
	border-bottom-color: white;
    border-top-color: white;
}

.navbar-fixed-top {
	position: absolute;
	top: -20px;	
}

.navbar-custom .nav li a {
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active a{
    outline: 0;
	color: #f26522;
    background:none;
}

.navbar-custom .nav li a.button-nav:hover,
.navbar-custom .nav li a.button-nav:focus,
.navbar-custom .nav li.active a.button-nav{
    outline: 0;
	color: #fff;
    opacity: 0.9;
    background:#973986;
}

.navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #000000;
}

.navbar-toggle:focus,
.navbar-toggle:active {
    outline: 0;
}

.button-nav {
    background: #f26522;
    border-radius: 0px;
    padding: 10px !important;
    margin-top: -10px;
    margin-left: 5px;
    color: #fff !important;
}

.last-link a:after {
    content: '';
    display: none;
}

.dropdown:hover a#drop1{
    background: #f26522;
}

.open > .dropdown-menu {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);  
  opacity:1;
  background: #fff;
  border: 1px solid #f26522;
  border-top: 2px solid #f26522;
  border-radius: 0px;
  border-bottom: 2px solid #f26522;
}
  
.dropdown-menu {
  opacity:.3;
  -webkit-transform: scale(1, 1);
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  box-shadow: none;
}

.dropdown-menu li {
    margin: 5px 0px;
}


/*mobile version */
.top-nav-collapse{
	color:black;
}

.top-nav-collapse .navbar-nav > li > a,
.top-nav-collapse .navbar-nav .dropdown-menu > li > a {
	color:black !important;	
	background: #fff !important;
}

.top-nav-collapse .navbar-nav .dropdown-menu {
	   background-color: #F9F9F9 !important;
       border-bottom: 1px solid #f2f2f2 !important;
       -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
       -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
       transition: background .5s ease-in-out,padding .5s ease-in-out;
       
}
.top-nav-collapse .caret {
    border-bottom-color: black !important;
    border-top-color: black !important;
}
.top-nav-collapse .navbar-toggle{
	color:black !important;
}

.navbar {
    padding: 20px 0;
    letter-spacing: 1px;
    background: none;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
}

.top-nav-collapse {
    padding: 0;
    background-color: #F9F9F9;
}

/* Mobile Menu Appearance */
.pushy {
  position: fixed;
  width: 230px;
  height: 100%;
  top: 0;
  z-index: 9999;
  background: #f26522;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.pushy li {
  list-style: none;
  margin-left: -20px;
}
.pushy a {
  display: block;
  color: #fff;
  padding: 15px 30px;
  text-decoration: none;
}
.pushy a:hover {
  color: #82c1eb;
}
.pushy ul:first-child {
  margin-top: 10px;
}
.pushy.pushy-left {
  left: 0;
}
.pushy.pushy-right {
  right: 0;
}

.pushy-content {
  visibility: hidden;
}

/* Specific styling for SDK pages on mobile nav */

.pushy-content a[href*="java-sdk"]:before{
    content:'';
    display: block;
    position: absolute;
    left: 50px;
    margin-top: 13px;
    font-weight: bold;
    color: #fff;
    height: 5px;
    width: 5px;
    background: red;
}

.pushy-content a[href*="csharp-sdk"]:before {
    content:'';
    display: block;
    position: absolute;
    left: 50px;
    margin-top: 13px;
    font-weight: bold;
    color: #fff;
    height: 5px;
    width: 5px;
    background: purple;
}

.pushy-content a[href*="content-cli.html"]:before {
    content:'';
    display: block;
    position: absolute;
    left: 50px;
    margin-top: 13px;
    font-weight: bold;
    color: #fff;
    height: 5px;
    width: 5px;
    background: black;
}

.pushy-content a.button-nav {
  margin-left: 22px;
  margin-top: 5px;
}

/* Menu Movement */

.menu-btn {
    position: absolute;
    right: 0px;
    display: none;
}

.pushy-left {
  -webkit-transform: translate3d(-230px, 0, 0);
  -ms-transform: translate3d(-230px, 0, 0);
  transform: translate3d(-230px, 0, 0);
}

.pushy-open-left #container,
.pushy-open-left .push {
  -webkit-transform: translate3d(230px, 0, 0);
  -ms-transform: translate3d(230px, 0, 0);
  transform: translate3d(230px, 0, 0);
}

.pushy-right {
  -webkit-transform: translate3d(230px, 0, 0);
  -ms-transform: translate3d(230px, 0, 0);
  transform: translate3d(230px, 0, 0);
}

.pushy-open-right #container,
.pushy-open-right .push {
  -webkit-transform: translate3d(-230px, 0, 0);
  -ms-transform: translate3d(-230px, 0, 0);
  transform: translate3d(-230px, 0, 0);
}

.pushy-open-left .pushy,
.pushy-open-right .pushy {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.pushy-open-left .pushy-content,
.pushy-open-right .pushy-content {
  visibility: visible;
}

/* Menu Transitions */
#container,
.pushy,
.push {
  transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}

.pushy-content {
  transition: visibility 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}

/* Site Overlay */
.site-overlay {
  display: none;
}

.pushy-open-left .site-overlay,
.pushy-open-right .site-overlay {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9998;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-animation: fade 500ms;
  animation: fade 500ms;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Submenu Appearance */
.pushy-submenu {
  /* Submenu Buttons */
  /* Submenu Icon */
}
.pushy-submenu ul {
  padding-left: 15px;
  transition: max-height 0.2s ease-in-out, visibility 0.2s ease-in-out;
}
.pushy-submenu ul li {
  transition: opacity 0.2s ease-in-out;
}
.pushy-submenu button {
  width: 100%;
  color: #b3b3b1;
  padding: 15px 30px;
  text-align: left;
  background: transparent;
  border: 0;
}
.pushy-submenu button:hover {
  color: #FFF;
}
.pushy-submenu > a,
.pushy-submenu > button {
  position: relative;
}
.pushy-submenu > a::after,
.pushy-submenu > button::after {
  content: '';
  display: block;
  height: 11px;
  width: 8px;
  position: absolute;
  top: 50%;
  right: 15px;
  background: url("../img/arrow.svg") no-repeat;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: transform 0.2s;
}

/* Submenu Movement */
.pushy-submenu-closed ul {
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pushy-submenu-closed li{
  opacity: 0;
}

.pushy-submenu-open {
  /* Submenu Icon */
}
.pushy-submenu-open ul {
  max-height: 1000px;
  visibility: visible;
}
.pushy-submenu-open li {
  opacity: 1;
}
.pushy-submenu-open a::after,
.pushy-submenu-open button::after {
  -webkit-transform: translateY(-50%) rotate(90deg);
  -ms-transform: translateY(-50%) rotate(90deg);
  transform: translateY(-50%) rotate(90deg);
}


/* PROCESS MOUDLE */

.process-icons a {
	transition: all 0.3s ease;	
}

.process-icons a:hover {
	opacity: 0.8;
}

.process-icons .tile {
    background-color: none; 
	height: 200px;
    margin-top: 0px;
    border:none;
    text-align:center;
    vertical-align:middle;
    display:inline-block;
    position:relative;
    z-index:1;
}

.process-icons {
	margin-top: -40px;
}

.process-icons .tile-3 {
	
}

.process-icons a {
    width: 100px;
    color: #999;
}

.process-icons a:hover {
	text-decoration: none;
    color: #337ab7;
}

.process-icons .step-nr{
	font-size:55px;
	position: absolute;
    width: 70px;
	color: #000000;
    border: none;
    padding: 15px;
	top: 50px;
	left: 50px;
	z-index: 3000;
	font-weight:100;
	line-height: 40px;
}

.process-icons .content p{
    text-align: left;
    color: #999;
    margin-left: 25px;
    font-style: italic;
}
.process-icons .content h3{
	margin-top:0;
	color: rgb(129, 135, 140);
    text-align: left;
    padding-left: 25px;
    font-weight: 400;
	font-family: "Noto Sans",sans-serif;
}
.process-icons .content{
	z-index: 3000;
	color: #fff;
	top: 200px;
	left: 90px;
	top: 50px;
	position: absolute;
}
.process-icons .content:hover h3{
    color: #337ab7;
    
}
.process-icons {
	margin-bottom:50px;
}
.process-icons .rounded-icon{
	width:100px;
    height:100px;
    background-color:#FFFFFF;
    border:3px solid rgba(0, 0, 0, 0.2);
    line-height:100px;
    text-align:center;
    vertical-align:middle;
    display:inline-block;
    position:relative;
    z-index:1;
}
.process-icons .rounded-icon .fa{
	line-height: inherit;
}

.process-line{
	border-top: 2px solid rgba(0, 0, 0, 0.2);
    height: 1px;
    margin: 0 auto;
    top: 50px;
    width: 70%;
    z-index: 0;
    position:relative;
}

/* INFOBOX */

.icon-effect {
	color: #FFFFFF;
	display: block;
	font-size: 1.2em;
	height: 32px;
	line-height: 32px;
	margin: 0;
	position: relative;
	text-align: center;
	top: 4px;	
	-webkit-transition:all 0.4s ease-in-out 0s;
	-moz-transition:all 0.4s ease-in-out 0s;
	-o-transition:all 0.4s ease-in-out 0s;
	transition:all 0.4s ease-in-out 0s;
	width: 32px;
	z-index: 1;
	background-color: white;
	box-shadow: 0 0 0 3px #2F3238;
}

.icon-effect:after {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	content: "";
	height: 100%;
	position: absolute;
	width: 100%;
	left: -2px;
	padding: 2px;
	top: -2px;
	-webkit-transition: transform 0.4s ease 0s, opacity 0.4s ease 0s;
	-moz-transition: transform 0.4s ease 0s, opacity 0.4s ease 0s;
	-o-transition: transform 0.4s ease 0s, opacity 0.4s ease 0s;
	transition: transform 0.4s ease 0s, opacity 0.4s ease 0s;
	z-index: -1;
	background: white;
}

.icon-effect:hover,
.info-box:hover .icon-effect {
	color: #2F3238;
}

.icon-effect:hover:after,
.info-box:hover .icon-effect:after {
	opacity: 0;
	-webkit-transform:scale(1.3);
	-moz-transform:scale(1.3);
	-ms-transform:scale(1.3);
	-o-transform:scale(1.3);
	transform:scale(1.3);
}

.info-box {
	margin-bottom: 35px;
}
.info-box .icon {
	float: left;
}
.info-box .content h3{
	margin-top:0px;
}
.info-box .content {
	padding-left: 45px;
}

.info-box .content small{
	font-weight:600;
}

/*SOCIAL ICONS */

.social-icons a {
	font-size: 15px;
	-moz-box-sizing: border-box;
	color: white;
	text-align: center;
	width: 30px;
	height: 30px;
	display: inline-block;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}

.social-icons .fa {
	margin-top: 8px;
	font-size: 15px;
	text-align: center;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}


/*SOCIAL ICON COLORS*/
.social-icons a.facebook{background-color:#5168B9}.social-icons a.twitter{background-color:#6EC3F5}.social-icons a.google-plus{background-color:#F65E4F}.social-icons a.rss{background-color:#FF893B}.social-icons a.dribbble{background-color:#EB4E8B}.social-icons a.flickr{background-color:#0063db}.social-icons a.github{background-color:#4183c4}.social-icons a.instagram{background-color:#3f729b}.social-icons a.linkedin{background-color:#007fb1}.social-icons a.pinterest{background-color:#cb2027}.social-icons a.dropbox{background-color:#3d9ae8}.social-icons a.stumbleupon{background-color:#eb4924}.social-icons a.tumblr{background-color:#2c4762}.social-icons a.vimeo{background-color:#4bf}.social-icons a.youtube{background-color:#cd332d}.social-icons a.skype{background-color:#00aff0}

.social-icons a:hover {
	background: white;
	color: #444;
	opacity: 1;
}

.social-icons a:hover .fa {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

/*PRICING TABLE*/

.pricing {
	color:#4D5158;
	-webkit-: 5px;
	-moz-: 5px;
	: 5px;
	text-align: center;
	width:95%;
	max-width: 300px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color:#ECECEC;
	padding-bottom:25px;
	padding-top:10px;
	border-top:8px solid #f1c40f;
}

.pricing.offer {
	width:95%;
	max-width:350px !important;
}

.pricing .price {
	font-size:30px;
	padding-top:50px;
}
.pricing .price h2 {
	display:inline;
    font-weight:100;
    font-size:50px;
    line-height:50px;
    color:#4D5158;
}
.pricing p{
	color:#A6A6A6;
}
.pricing ol {
	margin-top:50px;
	margin-bottom:50px;
	padding:0px;
	color:#A6A6A6;
}
.pricing ol li {

    display: block;
    width: 100%;
}
.pricing ol li span {
    font-weight: 700;
}
.pricing ol li:nth-of-type(2n) {
    //background: none repeat scroll 0 0 #1B1B1B;
}


.pricing.green{
	border-top:8px solid #2ecc71;
}
.pricing.yellow{
	border-top:8px solid #f1c40f;
}
.pricing.red{
	border-top:8px solid #e74c3c;
}

/* BOOTSTRAP CAROUSEL FADE EFFECT*/
.carousel-fade .item {
	opacity: 0;
	-webkit-transition: opacity ease-in-out 500ms;
	-moz-transition: opacity ease-in-out 500ms;
	-o-transition: opacity ease-in-out 500ms;
	-ms-transition: opacity ease-in-out 500ms;
	transition: opacity ease-in-out 500ms;
}

.carousel-fade .active.item {
	opacity: 1;
}

.carousel-fade .active.left, .carousel-fade .active.right {
	left: 0;
	opacity: 0;
	z-index: 2;
}

/* BACKGROUND MIDDLE FULL*/
.background-middle-full {
	background-color: #222;
	width:100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding:0;
	margin:0;
}
.background-middle-full.fixed{
	background-attachment:fixed !important;
}

/*-features-----------*/

.feature{
	position:relative;
	margin-bottom: 30px;
	text-align:center;
	padding:10px;
	padding-top: 15px;
}

.documents{
	background: url("../img/5-documents.png");
	background-repeat: no-repeat;
}

.graphics{
	background: url("../img/5-graphics.png");
	background-repeat: no-repeat;
}

.video{
	background: url("../img/5-video.png");
	background-repeat: no-repeat;
}

.catalog{
	background: url("../img/5-catalog.png");
	background-repeat: no-repeat;
}

/*------------*/

.feature .icon{
	font-size:60px;
	line-height:60px;

}
.feature .headline h3{
	color: #ffffff;
}

.feature .text p{
	color: #ffffff;
	padding-left:25px;
	padding-right:25px;
}


/*CALL TO ACTION*/
.call-to-act{
	color:white;
	text-align:center;
	background:#2F3238 !important;
}
.call-to-act h2{
	font-size:35px;
	padding-bottom:25px;
	color:white;
}


/**********************************
 * SECTIONS
 *********************************/

section {
	-webkit-backface-visibility: hidden;
	padding-top: 40px;
	padding-bottom: 40px;
	background:white;
	position:relative;
	z-index:3;
}

.documentation section {
    padding-top: 60px;
    padding-bottom: 50px;
}

section:nth-child(even) {
	background: #eef0f3;
}

.pageHead{
	padding-top:150px;
	padding-bottom:150px;
	color: auto;
	margin-bottom:100px;
	position:relative;
	top:0;
}
.pageHead h1{
	font-size:50px;
	color: auto;
	margin-bottom:0px;
}
.pageHead h3, .pageHead p{
	margin-top:0px;
	color: #555;
}
.pageHead .hero {
	margin-bottom:0;
}

.documentation section {
    background: #eef0f3;
}

.documentation .content-doc {
    background: #fff;
    margin-top: 10px;
    padding: 20px 30px;
}

.swagger-section .swagger-ui-wrap ul#resources li.resource div.heading h2 {
    font-size: 20px !Important;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 200 !important;
}

.swagger-section .swagger-ui-wrap ul#resources li.resource div.heading h2 a:after {
    content: '';
    display: block;
    padding-top: 50px;
}

.swagger-section .swagger-ui-wrap ul#resources li.resource div.heading h2 span {
    background: #fff;
    margin-left: -10px;
    font-weight: 400 !important;
    font-family: 'Noto Sans', sans-serif;
}

.swagger-section .swagger-ui-wrap .swaggerfooter {
    margin-top: 60px !important;
}

.swagger-section .swagger-ui-wrap .swaggerfooter *{
    font-size: 12px;
}

.documentation .swaggerfooter h4:after, .documentation .swaggerfooter h4:before {
    display: none;
}

.swagger-section .swagger-ui-wrap .footer {
    margin-top: 60px !important;
}

.swagger-section .swagger-ui-wrap .footer *{
    font-size: 12px;
    color: #999;
    font-variant: small-caps;
}

.documentation .footer h4:after, .documentation .footer h4:before {
    display: none;
}

.documentation h3 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 40px;
    font-weight: 200;
}

.documentation h4, .documentation strong {
    font-family: 'Noto Sans', sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: #555 !important;
    margin-bottom: 30px;
}

.api-reference .heading h2 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 30px;
    font-weight: 300; 
    margin-bottom: 30px;   
}

#api_info .info_description p {
    font-family: 'Noto Serif', sans-serif;
    font-size: 20px !important;
    font-weight: 300 !important;
}

.api-reference .markdown p {
    font-weight: 300;
}

.glossary {
    background: #fcfcfc;
    border-bottom: 1px solid #eee;
    padding: 30px 30px 20px 30px;
}

.glossary h5 {
    color: #b4b4b4;
    margin-bottom: 20px;
}

.glossary ol li ol {
    margin-bottom: 5px;
}

.get-started-header h3 {
    margin-top: 22px;
}

.get-started h4 {
    margin-bottom: 30px;
    line-height: 25px;
    font: normal normal 300 normal 16px / 28px "Arial", sans-serif !important;
}

.get-started h5 {
    padding: 10px;
    margin-top: 40px;
    line-height: 20px;
    background: #f8f8f8;
}

.get-started p span {
    background: #f90;
    color: #fff;
    font-weight: 600;
    padding: 5px;
    margin-right: 10px;
}

.workflow-intro {
    margin: 30px 0px;
}

#status dt {
    margin-top: 50px;
}

.sub-section {
    font-size: 20px;
    background: #f8f8f8;
    width: 100%;
    padding: 5px;
    margin: 50px 0px 20px 0px;
}

.api-reference .operation .content h4 {
    font-size: 28px !important;
}

.api-reference .endpoints {
    margin-left: 0px;
    padding-left: 0px;
}

.api-reference .options {
    position: absolute;
    right: 30px;
}

.content-doc h3 {
    margin-bottom: 30px;
}

.swaggerfooter * {
    color: #999;
    font-size:12px;
    font-variant: small-caps;
}

.swagger-section .swagger-ui-wrap ul#resources li.resource div.heading{
    margin-bottom: 0px !important;
}

.swagger-section ul#resources li {
    margin-bottom: 10px;
}

.swagger-section .swagger-ui-wrap ul#resources li.resource div.heading ul.options {
    opacity: 0.5;
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.heading h3 span.path a {
    text-decoration: underline !important;
}

.swagger-section .resource {
    margin-top: 30px;
}

.swagger-section .swagger-ui-wrap p {
    font-size: 12px;
}

.swagger-section .swagger-ui-wrap b, .swagger-section .swagger-ui-wrap strong:after {
    display: none;
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.heading {
    padding: 10px 10px !important;
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.heading ul.options li a {
    font-size: 13px !important;
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.heading h3 span.path {
    font-weight: 500 !important;
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.content h4:before {
    display: none;
}

.swagger-section .swagger-ui-wrap ul#resources li.resource div.heading h2 {
    margin-top: -12px;
}

.swagger-section .swagger-ui-wrap ul#resources li.resource div.heading ul.options a{
    font-size: 16px;
}

.swagger-section .swagger-ui-wrap ul#resources li.resource div.heading h2:after {
    content: none;
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.heading ul.options li a {
    font-size: 12px;
}

.swagger-section .swagger-ui-wrap ul#resources li.resource div.heading h2 a, .info_title {
    font-family: 'Noto Sans', sans-serif;
    font-size: 30px !important;
    font-weight: 400 !important;
    margin-bottom: 10px;
    color: #555 !important;
}

.documentation h4:after, .documentation strong:after, .api-reference .heading h2:after, .info_title:after {
    content:'';
    width: 100%;
    height: 1px;
    background: #ddd;
    display: block;
    margin-top: 20px;
}

.documentation strong:after {
    margin-top: 20px;
    margin-bottom: 20px;
}

.documentation h4:before {
    content:'';
    width: 25%;
    height: 1px;
    background: #f26522;
    display: none;
    position: absolute;
    margin-top: 53px;
}

.documentation li {
    list-style: none; 
}

.documentation table.TableStyle-CT_Table tr {
    border-top: 1px solid #eee;
}

.documentation table.TableStyle-CT_Table tr *{
    padding: 10px 0px;
}

.documentation .TableStyle-CT_Table-BodyE-Column1-Body2, .TableStyle-CT_Table-BodyB-Column1-Body2{
    font-weight: 600;
    color: #f26522;
    padding-right: 20px !important;
}

.documentation ul.topics {
    margin-top: 30px;
}

.documentation ul.topics li {
    width: 33%;
    float: left;
    margin-left: -35px;
    display: inline-block;
    margin-bottom: 50px;
}

.documentation ul.topics li img {
    margin-bottom: 30px;
    width: 115px;
    background: #f1f1f1;
    padding: 28px;
}

.documentation ul.topics * {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-align: left;
    color: #555 !important;
}

/*
.documentation ul.topics li:before {
    content: '';
    width: 12px;
    height: 12px;
    position: absolute;
    margin-left: -25px;
    margin-top: 9px;
    background: url(../content/docs/doc-assets/next.svg) no-repeat;
}
*/

.documentation #inner .pageHead {
    padding: 100px 0px;
    display: none;
}

.documentation #inner .pageHead h1 {
    margin-top: 100px;
}

.documentation .api-reference .row {
    margin: 0px;
}

.documentation .api-reference {
    min-height: 900px;
}

.documentation .content-doc {
    float: right;
}

.documentation .sidebar-doc {
    background: none;
    width: 230px;
    margin-right: 50px;
    height: auto;
    padding: 10px 0px;
    margin-top: 0px;
    position: absolute !important;
}

.documentation .sidebar-doc li ul {
    margin-bottom: 0px;
}

.documentation .sidebar-doc li {
    list-style: none;
}

.documentation .sidebar-doc li a {
    color: #000000;
    font-weight: 300;
    font-size: 16px;
    width: 100% !important;
    display: inline-block;
    background: #fff;
    padding: 10px 10px;
    padding-left: 25px;
}

.documentation .sidebar-doc li.active a {
    color: #f26522;
}

.documentation .sidebar-doc li a:hover {
    color: #5ab0ef;
    text-decoration: none;
}

.documentation .sidebar-doc li ul li {
    width: 121.5%;
}

.documentation .sidebar-doc li ul li a {
    margin-left: -40px;
    background: #f8f8f8;
    padding: 3px 40px;

}

.documentation .sidebar-doc li ul li a:before {
    display: none;
}

.documentation .sidebar-doc li ul li a:after {
    display: none;
}

.documentation .sidebar-doc li.active a:before {
    font-weight: 400;
    opacity: 0.65;
}

.documentation .api-reference .container {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

ul#resources {
    margin-left: -40px;
}

.documentation .api-reference dd {
    background: #eee;
    padding: 10px 10px;
    margin: 10px 0px;
}

.documentation .api-reference dd #trans {
    position: absolute;
    right: 20px;
    margin-top: -24px;
}

.documentation span#get, span#post, span#delete, span#put {
    color: #fff;
    padding: 0px 5px;
}

.documentation span#get {
    background: #0f6ab4;
}

.documentation span#post {
    background: #10a54a;
}

.documentation span#delete {
    background: #a41e22;
}

.documentation span#put {
    background: #c5862b;
}

.hero{
	text-align:center;
	margin-bottom:100px;
}
.hero h2{
	font-weight:300;
	font-size:35px;
	line-height:35px;
}
.hero p{
	font-weight:300;
    font-family: 'Noto Serif', sans-serif;
	padding-left:10%;
	padding-right:10%;
	font-size:20px;
	line-height: 1.5;
}

.hero.left{
	padding-bottom:10px;
	text-align:left;
	margin-bottom:0px;
}
.hero.left p{
	padding-left:0px;
	padding-right:10px;
}


/* NEW BREADCRUMBS */

#breadcrumb {
  list-style: none;
  display: block;
  position: absolute;
  top: -30px;
  margin-left: -70px;
  z-index: 300;
}
#breadcrumb li {
  float: left;
}

#breadcrumb li img {
  width: 16px;
}
#breadcrumb li a {
  color: #000000;
  display: block;
  background: #e2e7ee;
  text-decoration: none;
  position: relative;
  height: 30px;
  font-size: 12px;
  line-height: 30px;
  padding: 0 10px 0 5px;
  text-align: center;
  margin-right: 23px;
}
#breadcrumb li:nth-child(even) a {
  background-color: #e2e7ee;
}
#breadcrumb li:nth-child(even) a:before {
  border-color: #e2e7ee;
  border-left-color: transparent;
}
#breadcrumb li:nth-child(even) a:after {
  border-left-color: #e2e7ee;
    /* #2980b9; */
}
#breadcrumb li:first-child a {
  padding-left: 15px;

}
#breadcrumb li:first-child a:before {
  border: none;
}
#breadcrumb li:last-child a {
  padding-right: 15px;

}
#breadcrumb li:last-child a:after {
  border: none;
}
#breadcrumb li a:before, #breadcrumb li a:after {
  content: "";
  position: absolute;
  top: 0;
  border: 0 solid #e2e7ee;
  border-width: 15px 10px;
  width: 0;
  height: 0;
}
#breadcrumb li a:before {
  left: -20px;
  border-left-color: transparent;
}
#breadcrumb li a:after {
  left: 100%;
  border-color: transparent;
  border-left-color: #e2e7ee;
}
#breadcrumb li a:hover {
  color: #2980b9;
}
/*
#breadcrumb li a:hover:before {
  border-color: #1abc9c;
  border-left-color: transparent;
}
#breadcrumb li a:hover:after {
  border-left-color: #1abc9c;
}
*/
#breadcrumb li a:active {
  background-color: #2980b9;
  color: #fff;
}
#breadcrumb li a:active:before {
  border-color: #2980b9;
  border-left-color: transparent;
}
#breadcrumb li a:active:after {
  border-left-color: #2980b9;
}


/*
 * CLI HOME
*/



#head.cli-home {
    background: #d0edff;
    background-size: cover;
    height: 500px;
}

.cli-hero {
    max-width:700px;
    margin:0 auto;
}

.cli-hero h2 {
    line-height: 40px;
    font-weight: 600;
    font-family: 'Noto Sans', sans-serif;
    font-size: 22px;
}

.cli-home .row .hero h1 {
    color: auto;
}

.localize-app {
    color: #60ae0d;
}

.localize-data {
    color: #faba10;
}

.hot-folders {
    color: #673ac1;
}

.overview {
    padding-bottom: 30px;
}

.overview h3 {
    font-weight: 400;
}

.overview .hero {
    margin-bottom: 60px;
}

.overview h3:after {
    content: '';
    position: relative;
    display: block;
    width: 50px;
    margin: 30px auto -20px;
    height: 2px;
    background: #000000;
}

.overview .col-md-3, .overview .col-md-4{
    text-align: center;

}

.overview .col-md-3 span {
    opacity: 0.5;
}

.overview .col-md-4 * {
    margin:  auto;
}

.overview .col-md-4 span {
    position: absolute;
    left: 38%;
    color: #f90;
    top: 65%;
    background: #f6f6f6;
    opacity: 0;
    transition: all 0.3s ease;
}

.overview .col-md-4 a:hover span {
    top: 60%;
    opacity: 1;
}

.overview img {
    width: auto;
    padding: 10px;
}

.overview a {
    color: #191919;
    padding-top: 20px;
    position: relative;
    display: block;
    width: 100%;
    float: left;
    text-decoration: none;
}

.overview a:hover {
    color: #191919;
}

.overview p {
    max-width: 300px;
    margin: 0 auto;
    padding-top: 50px;
}

.svg-speech, p.etl-speech {
    position: absolute;
    top: -20px;
    right: 0px;
    max-width: 200px !important;
}

p.etl-speech {
    line-height: 18px;
    top: 15px;
    right: 10px;
    max-width: 170px !important;
    color: #fff;
}

.sdlc img {
    margin-bottom: 40px;
}

.sdlc p {
    color: #191919;
    max-width: 900px;
    margin: 0 auto;
}

.sdlc h2 {
    max-width: 700px;
    margin: 0 auto;
    padding-bottom: 30px;
}

.singular {
    color: #191919;
}

.compatability {
    padding-bottom: 0px !important;
}

.compatability h2{
    max-width: 700px;
    margin: 0 auto;
}

.compatability .cli-logos {
    max-width: 950px;
    margin: 0 auto;
    position: relative;
    padding-top: 50px;
    display: table;
    text-align: center;
    vertical-align: middle;
}

.compatability .cli-logos.ci {
    max-width: 530px;
}

.compatability .cli-logos div {
    display: table-cell;
    padding: 10px 15px;
}

.compatability .logo {
    padding: 10px;
    border-radius: 0%;
}

.compatability img {
    width: 100px;
}

.compatability p {
    padding-top: 10px;
    font-size: 14px;
}

.logo {
    border: 1px solid #ccc;
}

.logo.ant { border-color: #a81c7d; }
.logo.capistrano { border-color: #3f8abd; }
.logo.fabric { border-color: #72baf1; }
.logo.gnu { border-color: #606060; }
.logo.maven { border-color: #e6ab14; }
.logo.unix { border-color: #cfcfcf; }
.logo.power { border-color: #02468c; }
.logo.codeship { border-color: #cdcdcd; }
.logo.concourse { border-color: #38c4e3; }
.logo.jenkins { border-color: #cf3732; }
.logo.travis { border-color: #f4f0af; }

.hot-folders {
    max-width: 800px;
    margin: 0 auto;
}

.hot-folders img {
    margin-top: 40;
}

.pre-footer .content-block {
    background: #df7702;
    margin: 0px;
    border: 0px;
}

.pre-footer .content-block h2:after, .pre-footer .cli-block h2:after {
    content: '1';
    display: block;
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 100px;
    opacity: 0.6;
}

.pre-footer a {
    color: #fff;
    padding: 10px;
    background: none !important;
}

.pre-footer a:hover {
    color: #fff !important;
    border-color: #f90 !important;
}

.pre-footer .cli-block {
    background: #f68505;
}

.pre-footer .cli-block h2:after {
    content: '2';
}

/*
.pre-footer .cli-block:hover .btn {
	background-color: #df7702;
	border-color: #df7702;
}

.pre-footer .content-block:hover .btn {
	background-color: #f68505;
	border-color: #f68505;
}
*/

.pre-footer h4{
    color: #eee;
}

/*
 * HOME
*/


#head{
	background: #f9f9f9;
	background-size: cover;
	width:100%;
	height:720px;
	color:white;
}

#head.content-head{
	padding-bottom:0px;
    background: #eef0f3 url("../img/bg-cont.png") bottom no-repeat;
}

#head .hero{
	margin-top:15%;
	position:absolute;
	text-align:center;
	margin-left: -5px;
	width:98%;
	z-index: 3000000;
	display: block;
}
#head .hero.contrast h1,#head .hero.contrast h3{
	text-shadow: 0px 0px 2px rgba(150, 150, 150, 0.8);
}
#head .row.align-bottom{
	position:absolute;
	margin:0 auto;
	width:100%;
	bottom:0;
	z-index: 1;
}

#head .hero h1{
	font-size:50px; 
	color:#000000;
	margin-bottom:30px;
}
#head .hero h3{
	color:#000000;
	margin-top:0px;
    font-size: 18px;
    line-height: 25px;
}

#head.geo-head {
}

#head.geo-head *{
    color: auto;
}

#head .container {
	z-index: 3;
	position: relative;
}

#head * {
	z-index: 99999;
}

#head .img-block-half {
    text-align: center;
    height:339px;
	left: 20px;
	z-index: 1;
}
#head .img-block-half-side {
    height:389px;
    position:relative;
}
#head .img-block-half-side .row{
	position:absolute;
	bottom:50px;
}
#head .img-block-half-side .row h3{
	font-size:35px;
	line-height:35px;
	color:white;
}
#head .img-block-half-side .row .col-xs-6{
	padding:2px;
}
/*
 * HEAD SLIDER
 */
#head #slides {
	left: 0;
	position: fixed !important;
	top: 0;
	height:100% !important;
	overflow: hidden;
	z-index: 1;
}
#head #slides .slides-container {
	display: none;
}


/*second style*/
#head.style2{
	background-color:#151B1E;
}

#head.style2 .hero h1{
	color:#806F43;
}

#head.style2 .hero h3{
	color:#323840;
}

#head.style2{
	background-color:#151B1E;
}
/*fourth style*/
#head.style4 .hero h1{
	color:white;
	font-weight:800;
}
#head.style4 .hero h2{
	font-weight:100;
}
#head.style4 .hero h3{
	color:#323840;
}

#welcome{
	padding-bottom:60px;
	overflow:hidden;
}

#welcome .feature-links .col-md-3 {
    padding-top: 50px;
    padding-bottom: 30px;
}

#welcome .feature-links a:hover{
	text-decoration: none;
}

#welcome .feature-links a:hover span{
	color: #f60 !important;
}

#welcome .feature-links a p{
	color: #777;
}
#welcome .parallax-container .info-box .icon{
	font-size:30px;
	line-height:30px;
}

#welcome .info-box .content p{
    margin-top: 30px;
    float: left;
}
#welcome .info-box .content h3 {
    font-weight: 400;
    margin-left: 30px;
}
#welcome .info-box .content h3:after {
    content:"";
    position: relative;
    display: block;
    margin: 40px 0px 0px;
    height: 1px;
    width: 50px;
    background: #ccc;
}
#welcome #owl-carousel-process{
	margin-bottom:100px;
}

#features .feature .background-icon .fa{
	opacity:0.09;
}

#shots-mac{
	background-color:#2F3238;
}
#shots-mac .hero{
	color:white;
}

#shots-mac .hero p{
	color:#4D5158;
}


#clients h5{
	font-weight:700;
}
#coding {
	background:white;
}
#coding .background-side-full {
	background: url("../img/github.jpg") no-repeat scroll 100% 0% #E9E8E6;
	height: 940px;
	margin-top:-100px;
	margin-bottom:-100px;
	background-color:#E9E8E6;
}

#coding .row {
	padding-bottom:10px;
}

.pre-footer {
    margin-top: 40px;
    display: none;
}

.pre-footer h2 {
    font-weight: 300;
    font-size: 30px !important;
}

footer {
	padding-top: 3px;
	padding-bottom: 3px;
	background: none;
	font-size: 14px;
    border-top: 1px solid #eee;
    font-weight: 300;
	color: #565656;
	z-index:3;
	position:relative;
}

footer .row {
    border-top: none;
    padding: 20px 0px;
}

footer ul {
    position: absolute;
    left: 0px;
    margin-top: 5px;
}

footer ul li {
    list-style: none;
    display: inline;
    margin: 0px 10px;
}

footer .copy {
	padding-top:5px;
	margin-bottom: 0px;
}

#foot-root {
	position: relative;
	bottom: 0px;
	width: 100%;
}

#inner .inner-padding{
	margin-top:200px;
}

#inner.smaller .pageHead{
	padding: 100px !important;
}

#inner .pageHead {
	background: #eef0f3;
	margin-top: -125px;
	margin-bottom: -150px;
	padding: 280px 0px 200px;
	-moz-background-size:cover;
	background-size:cover;
	background-attachment: fixed;	
}

#mini-liox {
    color: rgb(47, 54, 63);
    display: block;
    float: right;
    height: 36px;
    text-align: center;
    text-decoration: none solid rgb(47, 54, 63);
    width: 36px;
    margin-top: 3px;
}


/*
 * 
 * PRICING
 * 
 * 
*/
#pricing{
	background-color: white;
}
#pricing .pageHead{
	padding-top:250px;
	background: url("../img/bg-head-4.jpg");
	-moz-background-size:cover;
	background-size:cover;
	background-attachment: fixed;
}

#pricing .pricing-wrap {
	margin-bottom: 50px;
}

#includedFeatures {
	color: white;
	background-color: #2A2C30;
}
#includedFeatures .hero h2 {
	color: white;
}
#includedFeatures .hero p {
	color: #4D5158;
}

#includedFeatures .feature .text{
	color:#B8B9BC;
}
#includedFeatures .feature .icon{
	color:#4D5158;
}

.brand-color{
	color:#f88c18  !important;
}
.brand-bg{
	background-color:#f88c18  !important;
}

a {
	color: #f26522;
}
a:hover, a:focus {
	color: #a2afb3;
}
a:focus {
	outline: thin dotted #191919;
	outline-offset: -2px;
}

.icon-effect:after{
	background:#A6A6A6;
}
.icon-effect{
	box-shadow: 0 0 0 3px #A6A6A6;
}
.icon-effect:hover,
.info-box:hover .icon-effect {
	color:  #A6A6A6;
}

.communications {
    background: #f6f6f6 !important;
}

/**********************************
 * BUTTONS
 *********************************/

.bgOrange {
	background-color: #f68505 !important;	
}
.colorOrange{
}
.bgDark{
	background-color: #000000 !important;
}

.btn {
    background-color: #f26522;
    color: #fff;
    border: 1px solid #fff;
    transition: 0.3s ease;
	border-radius: 0% !important;
}

.btn.active:hover, .btn:hover {
	border-color: #f26522 !important;		
	box-shadow: none !important;
    color: #f26522 !important;
	background: none !important;	
}

.btn.active i {
	color: #fff;	
}

.btn-border-dark{
	border:3px solid #000000;
}

.btn-color-dark{
	color:#000000;
}

.btn-bg-dark{
	background:#000000;
	color:white;
}

/*
 * HELPER
 */

.listing-style {
    display: block;
    margin-top: 0px;
    margin-left: -30px;
    position: absolute;
}

.listing-style img {
    width: 20px;
    position: absolute;
    opacity: 0.6;
    margin-top: 5px;
}

.list-unstyled {
    margin-left: 30px;
}

.list-unstyled li {
    color: #000;
    padding-left: 0px;
}

.list-unstyled.no-marker li {
    color: #191919;
    padding-left: 0px;
}

.list-unstyled.sandbox-list li span{
    
}

.sdk-logo {
    max-width: 85px;
}
 
.row-padding{
	margin-bottom:100px;
}
.center-block{
	margin:0 auto;
}
.animated {
	visibility: hidden;
}
.visible {
	visibility: visible;
}
.mobileonly {
	display:none;
}
.mobileonly h3{
	color:white !important;
}


/*
 * svg
 */
.svg-wrapper{
	height:100px;
	width:300px;
	margin:0 auto;
}
.svgcolor-light,.svgcolor-dark {
    position:relative;
    top:-2px;
}
.svgcolor-light path {
    fill: white;
    stroke: white;
    stroke-width:0;
}
.svgcolor-dark path {
    fill: #2F3238;
    stroke: #2F3238;
    stroke-width:0;
}
.no-section-padding{
	padding-top:0px;
}
.section-padding{
	padding-top:100px;
}

.container {
	/*
	padding: 40px 50px;
	padding-bottom: 60px;
	background: #fff;
	*/	
}

.navbar .container {
	padding: 30px;
}	

#head .container, footer .container, .pre-footer .container {
	background: none;	
}

.portal #head {
    background: #f9f9f9 url('../img/portal.png') no-repeat right bottom 9%;
}

.portal footer .row {
    border-top: none;
}

.pre-footer {
	background: url(../img/pattern.png) !important;	
}

.pre-footer .container{
	padding-top: 40px;
	margin-top: -40px;
}

.form-wrap {
	margin-top: -20px;	
	margin-bottom: 50px;
	position: relative;
}

.form-wrap .img-responsive {
	margin-top: 25px;	
}

.form-heading {
	background-color: #eb365e !important;
	padding: 10px 15px;	
	color: #fff;
	width: auto;
	display: inline-block;
	margin-top: 0px;
	margin-bottom: 10px;
	margin-left: 9px;
	display: none;
}

#form-main{
	padding-top:0px;
}

#form-div {
	background-color:rgba(72,72,72,0.3);
	padding-left:35px;
	padding-right:35px;
	padding-top:45px;
	padding-bottom:43px;
	width: 100%;
  	margin-top:30px;
}

#form-div input, textarea {
	color:#3c3c3c;
	font-family: "Noto Sans", Arial, sans-serif;
  	font-weight:500;
	border-radius: 0;
	background-color: #fbfbfb !important;
	padding: 10px 11px 10px 54px !important;
	margin-bottom: 30px;
	max-width: 200% !important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  	border: 3px solid rgba(0,0,0,0) !important;
}

/*
textarea, select {
	padding: 11px 11px 11px 54px !important;
	font-family: "Noto Sans", Arial, sans-serif !important;
  	border: 3px solid rgba(0,0,0,0) !important;
}
*/

textarea {
    width: 100%;
	margin-top: 30px !important;
    height: 150px !important;
    line-height: 150% !important;
    resize:vertical;
}

.mktoErrorMsg {
	border-radius: 0px !important;
	box-shadow: none !important;
	border: none !important;	
}

.mktoError {
	bottom: -15px !important;	
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

.mktoFormRow label, label[for="Message__c"] {
	display: inline-block;	
	padding: 10px 0px 10px 10px !important;
	margin-bottom: 5px !important;
	background-color: #999 !important;
	color: #fff;
	z-index: 30000;
	position: absolute;
	left: 10px;
	top: -20px;
	width: 100px !important;
}

label[for="Message__c"] {
	margin-top: 30px !important;
}

.mktoAsterix {
	float: none !important;
	position: absolute;
	left: 30px;	
	display: none !important;
}

.mktoGutter {
	width: 100% !important;	
}

.mktoButton{
	float: left !important;
	width: 103% !important;
	cursor:pointer;
	background-color: #3498db !important;
	color:white;
	font-size:24px !important;
	text-transform: uppercase;
	foint-weight: 700 !important;
	margin-top: 20px !important;
	margin-left: 10px !important;
	padding-top:22px !important;
	padding-bottom:22px !important;
	border: none !important;
	border-radius: 0px !important;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.mktoButtonRow {
	width: 75% !important; 	
}

.mktoButton:hover{
	opacity: 0.8 !important;
	color: #0493bd;
}
	
.mktoButton:hover {
	color: #3498db;
}
	
.ease {
	width: 0px;
	height: 65px;
	margin-bottom: -12px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.mktoButton:hover .ease{
  width:100%;
  background-color:white;
}


#form-div input:focus{
	background-color: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}

.sbHolder{
	background-color: #fff;
	border: solid 1px #ccc;
	font-family: 'Noto Sans', Arial, sans-serif;
	font-size: 12px;
	float: left;
	outline: none !important;
	font-weight: normal;
	height: 40px;
	position: relative;
	width: 500px;
	margin-right: 15px;
	margin-bottom: 20px;
	padding: 11px 11px 21px 44px !important;
	font-family: "Noto Sans", Arial, sans-serif !important;
  	font-weight:500 !important;
	font-size: 18px !important;
	border-radius: 0 !important;
	line-height: 10px !important;	
  	border: 3px solid rgba(0,0,0,0) !important;
}
.sbHolder:focus .sbSelector{
	
}
.sbSelector{
	display: block;
	height: 50px;
	left: 0;
	outline: none !important;
	padding: 11px 11px 21px 44px !important;
	font-family: "Noto Sans", Arial, sans-serif !important;
  	font-weight:500 !important;
	font-size: 18px !important;
	border-radius: 0 !important;
	line-height: 10px !important;	
	overflow: hidden;
	position: absolute;
	text-indent: 10px;
	top: 0;
	width: 500px;
}
.sbSelector:link, .sbSelector:visited, .sbSelector:hover{
	color: #595858;
	outline: none;
	text-decoration: none;
}
.sbToggle{
	background: url(../img/select-icons.png) 0 -116px no-repeat;
	display: block;
	height: 30px;
	outline: none;
	position: absolute;
	left: 5px;
	top: 2px;
	width: 30px;
}
.sbToggle:hover{
	background: url(../img/select-icons.png) 0 -167px no-repeat;
}
.sbToggleOpen{
	background: url(../img/select-icons.png) 0 -16px no-repeat;
}
.sbToggleOpen:hover{
	background: url(../img/select-icons.png) 0 -66px no-repeat;
}
.sbHolderDisabled{
	background-color: #3C3C3C;
	border: solid 1px #b3b3ae;
}
.sbHolderDisabled .sbHolder{
	
}
.sbHolderDisabled .sbToggle{
	
}
.sbOptions{
	background-color: #fff;
	border: solid 1px #eee;
	list-style: none;
	left: -3px;
	margin: 0;
	padding: 0;
	position: absolute;
	margin-top: 20px !important;
	width: 500px;
	z-index: 1;
	overflow-y: auto;
}
.sbOptions li{
	padding: 0 7px;
}
.sbOptions a{
	border-bottom: solid 1px #eee;
	display: block;
	outline: none;
	padding: 7px 0 7px 3px;
}
.sbOptions a:link, .sbOptions a:visited{
	color: #595858;
	text-decoration: none;
}
.sbOptions a:hover,
.sbOptions a:focus,
.sbOptions a.sbFocus{
	color: #595858;
}
.sbOptions li.last a{
	border-bottom: none;
}
.sbOptions .sbDisabled{
	border-bottom: dotted 1px #515151;
	color: #999;
	display: block;
	padding: 7px 0 7px 3px;
}
.sbOptions .sbGroup{
	border-bottom: dotted 1px #515151;
	color: #595858;
	display: block;
	font-weight: bold;
	padding: 7px 0 7px 3px;
}
.sbOptions .sbSub{
	padding-left: 17px;
}

/* Icons ---------------------------------- */


#FirstName, #LastName{
	background-image: url(../img/formicons/1-firstname.png);
	background-position: 11px 10px;
	background-repeat: no-repeat;
}

#Email{
	background-image: url(../img/formicons/3-email.png);
	background-position: 11px 10px;
	background-repeat: no-repeat;
}

#Phone{
	background-image: url(../img/formicons/2-phone.png);
	background-position: 11px 10px;
	background-repeat: no-repeat;
}

#Title{
	background-image: url(../img/formicons/1-title.png);
	background-position: 11px 10px;
	background-repeat: no-repeat;
}

#Company{
	background-image: url(../img/formicons/1-company.png);
	background-position: 11px 10px;
	background-repeat: no-repeat;
}

#Country{
	height: 40px;
}

#Message__c{
	background-image: url(../img/formicons/3-passwordcheck.png);
	background-position: 11px 10px;
	background-repeat: no-repeat;
}


.form-control{
	background-color:#fff;
	border-radius: 0px;
	box-shadow: none;
	padding:15px;
	height:47px;

}
.form-control:focus{
	box-shadow:none;
}
.modal-footer{
	margin-top:0px;
}
.input-group{
	margin-bottom:10px;
}

.input-group-addon{
	border:0;
	border-radius: 0px;
	background-color:#ccc;
}

.modal-footer{
	border-top:0;
}

.btn-submit {
	background: #fa4f3e;
	color: white;
	border: none;
}

div.get-started-container {
  margin-top: 35px;
  text-align: center;
}

a.get-started-btn {
  background-color: #f26522;
  color: #FFF;
  padding: 20px 35px;
  border-radius: 15px;
  font-size: 22pt;
  width: auto;
  display: inline;
  float: none;
}

a.get-started-btn:hover {
  background-color: #ff8000;
  color: #FFF;
  text-decoration: none;
}
/* New */

.new-integration img {
    max-width: 90px !important;
    padding: 0px;
    border: 15px solid transparent;
    float: right;
}

#one-integration .col-sm-12 {
    margin-bottom: 20px;
}

.easy-integration h3 {
    bottom: 0px;
    color: rgb(129, 135, 140);
    display: inline-block;
    height: 30px;
    position: relative;
    text-align: center;
    width: 100%;
    border: 0px none rgb(129, 135, 140);
    font: normal normal 400 normal 24px / 30px 'Noto Sans', sans-serif;
    margin: 20px 0px 53px;
}

.easy-integration h3:after {
    bottom: -26px;
    color: rgb(129, 135, 140);
    content: '';
    display: block;
    height: 2px;
    position: relative;
    text-align: center;
    top: 54px;
    width: 45px;
    background: #888;
    margin: -30px auto 140px;
}


/**/

/*
 * media queries
 */
@media only screen and (max-height: 700px) { 

    .img-block-half{
        display: none;
    }
    
}

@media only screen and (max-width: 1280px) { 
 
	.img-block-half img, .browser-2{
		max-width: 350px;
		margin: 0 auto;
		margin-top: 70px;
		margin-left: 50px;
	}

	h1 { font-size: 30px !important; }
	h3 { font-size: 20px !important; }
	
	.content-block, .communication-block, .cli-block {
		padding: 20px 40px;
		min-height: 400px;
        margin-bottom: 10px;
    }
	
	.root-hero h1 {
		margin-top: -60px;	
	}
    
    .etl img { max-width: 500px; }

}

@media only screen and (max-width: 1200px) {

	.nav > li > a {
		padding-left:6px;
		padding-right:6px;
	}
	.img-block-half img, .browser-2{
		margin-left: 15px;
	}
    .overview .col-md-4 span {
        display: none;
    }
	#form-div input {
		width: 150% !important;	
	}
    #head.cli-home {
        height: 450px;
    }
    
    .documentation img {
        max-width: 100%;
    }
    
    .documentation .col-sm-9 {
        width: 71%;
    }
    
    .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.heading ul.options {
        position: relative;
    }
    
	#head h3 {
		max-width: 500px;	
	}
	textarea {
		width: 140% !important;	
	}
	.mktoButton{
		width: 81% !important;
	}
	select{
		width: 353px !important;
	}
    .navbar-nav > li > a:after {
        content: '';
    }
    
    .documentation .sidebar-doc {
        position: relative !important;   
    }
    
    .documentation .sidebar-doc li ul li {
        width: 100%;
        background: #f8f8f8;
    }
    
    .documentation .sidebar-doc li ul li a {
        width: 90%;
    }
	
}

@media only screen and (max-width: 1000px) {
    
	#form-div input {
		width: 120% !important;	
	}
    
	textarea {
		width: 112% !important;	
	}
        
    .documentation .col-sm-9, .documentation .col-sm-3 {
        width: 100%;
    }
    
    
    #features img {
        max-width: 50% !important;
        margin: 0 auto;
    }
    
    #features * {
        text-align: center;
    }
    
    .easy-start {
        margin-top: 50px;
    }
	.mktoButton{
		width: 65% !important;
	}
    .sdlc img { max-width: 300px; }
	.root-hero h1 {
		margin-top: 0px;	
	}
	select {
		width: 277px !important;
	}
	textarea, input, select {
		font-size: 1em !important;
	}
	#steps {
		margin-bottom: -90px;
	}
    .overview .col-md-4 {
        border: 0px;
    }
	footer {
		text-align: center;
	}
	footer .pull-right {
		float: none !important;
	}
	.img-block-half img, .browser-2{
		margin-left: 0px;
	}

}

@media only screen and (max-width: 992px) {
	
	.img-block-half img, .browser-2{
		margin-left: 140px;
	}
	.browser-2 {
		margin-left: 147px;	
	}
    
    .documentation .api-reference .container {
        padding: 0px !important;
    }
    
        
    #breadcrumb { 
        margin-top: 0px;
    }
    
    .documentation .col-sm-9 {
        margin-top: 60px;
    }
    
	.content-block, .communication-block, .cli-block {
		padding: 20px 40px;
		min-height: 400px;
        margin: 0px;
        border: none !important;
        background: #f6f6f6;
        height: auto;
        margin-bottom: 10px;
    }
	
    .menu-btn {
        position: absolute;
        right: 20px;
        top: 45px;
        display: block;
    }
    
    .nav {
        display: none;
    }

    .cli-hero h2{
        font-size: 22px !important;    
    }
    
	.directory-link {
		position: absolute !important;
		right: 30px;	
	}
    
    .compatability .cli-logos {
        max-width: 550px;    
        position: relative;
        padding-top: 50px;
        display: block;

    }
    
    .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.heading ul.options a{
        position: relative;
        display: block !important;
    }
    
    .feature-links .col-md-3 {
        margin-bottom: 30px !important;   
    }
    
    .feature-links .col-md-3  {
        text-align: center;
        max-width: 300px;
        margin-left: 25%;
    }
    
    #welcome .info-box .content h3 {
        margin: 0 auto;
        max-width: 400px;
        margin-left: 0px;
    }
    
    .feature-links .icon {
        width: 100%;
        text-align: center;
    }
    
    .feature-links .icon img {
        margin-left: 50px;
        margin-bottom: 40px;
    }
    
    #welcome .info-box .content h3:after {
        margin: 40px auto 0px;
    }

    .compatability .cli-logos.ci {
        max-width: 530px;
    }
    
    .compatability .cli-logos {
        margin-left: 10%;
    }

    .compatability .cli-logos div {
        display: block;
        float: left;
        padding: 10px 15px;
    }

}

@media only screen and (max-width: 768px) {
	
	#form-div input {
		max-width: 100% !important;	
	}
	textarea {
		max-width: 100% !important;	
	}
    
    .swagger-section .swagger-ui-wrap ul#resources li.resource div.heading ul.options a{
        display: none;
    }
    
    .documentation .sidebar-doc li ul li {
     
    }
    
    .company img{ 
        width: 90%;
        height: 90%;
        margin-top: 8px;
    }
    
    .pre-footer .content-block { padding-top: 50px; }
	
    .pre-footer .content-block h2:after {
        top: 40px;
    }
    
    #trust .col-sm-4 {
        margin-bottom: 100px;
    }

    .mobile-margin {
        margin-top: -200px;
        padding-bottom: 60px;
    }
    .navbar .nav li:first-child {

    }
    .navbar .nav li:first-child a {
        margin-left: -15px;
        border-top: none;
    }
    .root-hero .row {
		margin-right: 10px;
	}
	.nav li span {
		display: inline-block;
		margin-left: 13px;
	}
	.nav li a {
		padding-top: 10px;
		border-top: 1px solid #ccc;	
	}
	.nav a:hover {
		color: #111 !important;	
	}
    
	.directory-link {
		margin-left: 30px;
		position: relative !important;
	}
	.mktoButton{
		width: 100% !important;
	}
	
	.root-hero .row {
		margin-left: -5px;	
	}
	
	select{
		width: 100% !important;
		padding-bottom: 0px !important;
	}	
    
    .feature-links .col-md-3  {
        text-align: center;
        max-width: 300px;
        margin: 0 auto;
    }
	
	#head .hero h1 {
		font-size:35px;
        margin-top: 10px;
		line-height:35px;
	}
	.call-to-act h2{
		font-size:20px;
	}
	.parallax-container{
		display:none;
	}

	.process-icons *{
		font-size: 20px !important;
	}
	.process-icons .content, .step-nr {
		margin-left: -20px;	
	}
	.pageHead .hero, ul.wy-breadcrumbs {
		display: none;	
	}
	#inner .pageHead{
		padding: 10px 0 10px !important;	
	}
	.container {
		padding: 0px 30px !important;	
	}
	#main-content {
		margin-top: -160px;	
	}
	.call-to-act .btn {
		font-size: 12px;	
	}
	.wy-nav-side {
		margin-top: 80px;
	}
	.wy-nav-content-wrap.shift {
		margin-top: -80px;	
	}
	.wy-nav-top{
		line-height: 25px;	
	}
	.navbar-collapse {
		padding-bottom: 20px;
		margin-top: 38px;
		float: left;
		width: 100%;
		text-align: left;	
	}
	.company {
		margin-left: 0px;	
	}
	.navbar .container {
		background: #fff !important;	
	}
    .navbar .nav li.active a:before {
        content:'';
        left: 0px;
        position: absolute;
        display: block;
    }
    .navbar .nav li.active a {
        padding-left: 7px;
    }
	.navbar-toggle {
		margin-right: -8px;
		font-size: 25px;
        background: #f6f6f6;
		margin-top: 20px;
	}
	.nav li{
		float: left;
		text-align: left;	
		width: 100%;	
	}
	.nav li a {
		margin-top: 15px;	
	}
	.navbar-nav {
		margin-left: 20px;
		padding-bottom: 25px;
	}
	#head h3 {
		max-width: 300px;	
	}
}

@media only screen and (max-width: 480px) {
	#form-div{
		width: 100%;
		margin-left: 0;
		padding-left: 5%;
		padding-right: 5%;
	}
    
    #trust {
        margin: 0px;
        padding: 0px;
    }
    
    #trust a {
        font-size: 14px;
    }
	
	#head h3 {
		display: none;	
	}
    .feature-links .col-md-3  {
        text-align: center;
        max-width: 300px;
        margin: 0 auto;
        padding-right: 50px;
    }
    #head .hero h1 {
        margin-top: 50px;
	}
    
    .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.heading ul.options a{
        display: none !important;
    }
	
	#head .row h3 {
		display: block;	
	}
        
    #head.cli-home {
        height: 380px;
    }
    
    .etl img { max-width: 350px; }
	
	#form-div input {
		height: 50px !important;	
	}
	
	label {
		left: 0px !important;
		top: -37px !important;	
	}
}

@media only screen and (max-width: 400px) {
	
	.container {
		padding-left: 30px;
		padding-right: 30px;
	}
	#head .iphone-half{
		display:none;
	}
    .svg-speech {
        top: -20px;
    }
	.img-responsive {
		margin-bottom: 40px;	
		margin-top: 0px;
	}
    .etl img { max-width: 300px; }
	
    #pricing .img-responsive {
		margin-top: 0px;	
	}

}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .background-middle-full.fixed{ 
        background-attachment: scroll !important;
    }
}
