﻿/*
1-Icons
2-Core (Core Csss)
3-Base (main)
4-Responsive
*/

@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,400i,500');

/* = Icons
-------------------------------------------------------------- */
.icon-right {
  background: url("../content/sdk-assets/icon/icon-right.png");
  background-repeat: no-repeat;
  display: inline-block;
  width: 35px;
  height: 35px;
  vertical-align: middle;
  margin-left: 40px; }

.icon-git {
  background: url("../content/sdk-assets/icon/icon-git.png");
  background-repeat: no-repeat;
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  padding-right: 30px; }

.icon-pages {
  background: url("../content/sdk-assets/icon/icon-pages.png");
  background-repeat: no-repeat;
  display: inline-block;
  width: 40px;
  height: 48px;
  vertical-align: middle;
  margin-right: 10px; }

.icon-envelope {
  background: url("../content/sdk-assets/icon/icon-envelope.png");
  background-repeat: no-repeat;
  display: inline-block;
  width: 64px;
  height: 64px; }

.icon-forum {
  background: url("../content/sdk-assets/icon/icon-forum.png");
  background-repeat: no-repeat;
  display: inline-block;
  width: 64px;
  height: 60px; }

.icon-folder {
  background: url("../content/sdk-assets/icon/icon-folder.png");
  background-repeat: no-repeat;
  display: inline-block;
  width: 64px;
  height: 58px; }

.icon-info {
  background: url("../content/sdk-assets/icon/icon-info.png");
  background-repeat: no-repeat;
  display: inline-block;
  width: 47px;
  height: 47px; }

.icon-adn {
  background: url("../content/sdk-assets/icon/icon-adn.png");
  background-repeat: no-repeat;
  display: inline-block;
  width: 22px;
  height: 24px; }

/* =Transition
-------------------------------------------------------------- */
/* =Core
-------------------------------------------------------------- */
.alignnone {
  margin: 5px 20px 20px 0; }

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto; }

.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

a img.alignnone {
  margin: 5px 20px 20px 0; }

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.entry-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center; }

.entry-caption.alignnone {
  margin: 5px 20px 20px 0; }

.entry-caption.alignleft {
  margin: 5px 20px 20px 0; }

.entry-caption.alignright {
  margin: 5px 0 20px 20px; }

.entry-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto; }

.entry-caption p.entry-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px; }

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */ }

body {
  color: #000;
  font-family: "Roboto",sans-serif;
  font-size: 15px;
  height: 100%;
  line-height: 1.5;
  padding-right: 0 !important; }

a {
  text-decoration: none;
  outline: 0 none; }

ul {
  padding: 0; }

h1 {
  font-size: 38px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  color: #43484d; }

h2, h3 {
  font-size: 30px;
  font-weight: 200;
  font-family: "Roboto", sans-serif;
  color: #43484d; }

h3 {
  font-size: 20px;
  margin: 20px 0px;
  font-weight: 100;
  font-family: "Roboto", sans-serif;
  color: #43484d; }

span.green {color: #63a35c;}
span.blue {color: #187ed6;}
span.purple {color: #7994dc;}
span.burgundy {color: #a749ae;}

p {
  font-family: 16px;
  line-height: 24px;
  color: #5e6977;
  font-weight: 300; }

.btn-success {
  border: medium none;
  border-radius: 0px;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  padding: 13px 25px; }
/*
#csharp .btn-success {
  background-color: #6b1d80;}

#java .btn-success {
  background-color: #0077b8;}
*/
.btn-default {
  font-size: 18px;
  border-radius: 5px;
  border: 2px solid #e1e8ee;
  color: #43484d;
  padding: 15px 30px; }

.btn-default:hover {
  background: #f9f9f9 none repeat scroll 0 0;
  border: 2px solid #e1e8ee;
  transition: background-color 500ms ease-out 0.2s; }

.section-title {
  font-size: 45px;
  font-weight: 300;
  color: #43484d; }

.section-subtitle {
  font-size: 20px;
  font-weight: 100;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  color: #5e6977;
  width: 100%;
  margin: 20px auto 40px; }

.pt-50 {
  padding-top: 50px; }

.pt-70 {
  padding-top: 70px; }

/***************************** Header ****************************/
.hero {
  background: url("../content/sdk-assets/bg3.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

.hero.csharp {
  background: url("../content/sdk-assets/bg4.png");  
}

.hero.java {
  background: url("../content/sdk-assets/bg3.png");    
}

/*
 * navbar
*/


.navbar {
	border:0px;  
    font-family: "Roboto","SansationRegular",Arial,sans-serif;
    background-color: none;
    opacity:1;
}

.navbar-nav {
	margin-top: 35px;
	margin-bottom: -15px;
}

.navbar-nav > li > a,
.navbar-nav .dropdown-menu > li > a {
	color: #363636;
    font-family: "Roboto","SansationBold",Arial,sans-serif;
	font-size:17px;
    font-weight: 300;
	letter-spacing: 0px;
	padding: 0px 20px;
}

.navbar-nav .dropdown-menu > li.active > a {
    color: #973986 !important;
}

.navbar-nav > li > a:after {
    content: '/';
    position: absolute;
    margin-left: 20px;
    opacity: 0.5;
}

.navbar-nav .caret {
    border-bottom-color: white;
    border-top-color: white;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.nav a:hover .caret{
	border-bottom-color: white;
    border-top-color: white;
}

.navbar-fixed-top {
	position: absolute;
	top: -20px;	
}

.navbar-custom .nav li a {
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active a{
    outline: 0;
	color: #f26522;
    background:none;
}

.navbar-custom .nav li a.button-nav:hover,
.navbar-custom .nav li a.button-nav:focus,
.navbar-custom .nav li.active a.button-nav{
    outline: 0;
	color: #fff;
    background:#973986;
}

.navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #333;
}

.navbar-toggle:focus,
.navbar-toggle:active {
    outline: 0;
}

.button-nav {
    background: #f26522;
    border-radius: 0px;
    padding: 10px !important;
    margin-top: -10px;
    margin-left: 5px;
    color: #fff !important;
}

.last-link a:after {
    content: '';
    display: none;
}

.top-pattern {
	background: #fff;
	width: 100%;
	height: 85px;
	position: absolute;	
}


.company{
	margin-top: 0px;
	margin-left: -15px;
	position: absolute;
}


/*mobile version */
.top-nav-collapse{
	color:black;
}

.top-nav-collapse .navbar-nav > li > a,
.top-nav-collapse .navbar-nav .dropdown-menu > li > a {
	color:black !important;	
	background: #fff !important;
}

.top-nav-collapse .navbar-nav .dropdown-menu {
	   background-color: #F9F9F9 !important;
       border-bottom: 1px solid #f2f2f2 !important;
       -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
       -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
       transition: background .5s ease-in-out,padding .5s ease-in-out;
       
}
.top-nav-collapse .caret {
    border-bottom-color: black !important;
    border-top-color: black !important;
}
.top-nav-collapse .navbar-toggle{
	color:black !important;
}

.navbar {
    padding: 20px 0;
    letter-spacing: 1px;
    background: none;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
}

.top-nav-collapse {
    padding: 0;
    background-color: #F9F9F9;
}

.masthead {
  padding: 50px 0 70px 0;
   }
  .masthead h1 {
    padding-top: 130px;
    font-size: 50px;
    font-weight: 100;
    color: #fff; }
  .masthead p {
    color: #fff;
    font-size: 18px;
    font-weight: 100;
    margin: 0 auto;
    padding-bottom: 15px;
    padding-top: 30px;
    line-height: 25px;
    width: 100%; }
  .masthead .search-field {
    width: 100%;
    font-size: 18px;
    border-radius: 5px;
    padding: 0px  30px;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 60px; }
  .masthead form {
    position: relative;
    margin-top: 10px; }
  .masthead form button {
    position: absolute;
    right: 25px;
    top: 25px;
    background: none;
    border: none;
    font-size: 30px;
    color: #86939e; }
  .masthead .btn-hero {
    border: 3px solid #fff;
    color: #fff;
    border-radius: 0px;
    padding: 10px 15px;
    margin: 5px;
    margin-top: 50px;
    }
.masthead img {
    max-width: 30px;
}
.masthead * {
    fill: #fff;    
}
  .masthead .btn-hero:hover {
    background: rgba(255, 255, 255, 0.2);
    -webkit-transition: background-color 500ms ease-out 0.2s;
    -moz-transition: background-color 500ms ease-out 0.2s;
    -o-transition: background-color 500ms ease-out 0.2s;
    transition: background-color 500ms ease-out 0.2s; }

.single-masthead {
  padding: 0 0 40px; }
  .single-masthead .btn-hero {
    margin-top: 30px;
    float: right; }


/* Sticky nav */

.banner-wrapper {
  z-index: 4;
  transition: all 300ms ease-in-out;
  position: fixed;
  width: 100%;
}

.banner {
  width: 100%;
  height: 77px;
  padding-left: 10px;
  display: flex;
  margin-top: 0px;
  flex-direction: column;
  justify-content: space-around;
  background: #973986;
  transition: all 300ms ease-in-out;
}

.banner.java {
  background: #f26522;    
}

.nav {
  width: 100%;
  height: auto;
}

.nav ul.menu {
  height: inherit;
  list-style-type: none;
  display: flex;
  align-items: center;
  width: 50%;
  font-size: 16px;
  font-weight: 300;
}

.nav ul.menu li {
  flex: 1 1 auto;
  height: inherit;
  display: flex;
  align-items: center;
}

.nav ul.menu li a, .left-top a {
  text-decoration: none;
  color: #fff;
}

.nav ul.menu li a:hover, .left-top a:hover {
  color: #ccc;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.9);
  top: 50%;
  position: absolute;
  width: 100%
}

.text p:first-child {
  font-size: 45px !important;
}

.text p {
  font-size: 22px;
}


/***************************** 2- Entries ****************************/
.bgc-light-gray {
  background-color: #f9f9f9; }

.features, .entry {
  padding: 100px 0;
  position: relative; }
  .features .icon, .entry .icon {
    display: inline-block;
    font-size: 50px;
    text-decoration: none;
    transition: all 0.3s ease 0s; }
  .features h3, .entry h3 {
    font-size: 18px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    color: #43484d; }
  .features p, .entry p {
    font-size: 16px;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    color: #86939e; }

.features:after {
  content: "";
  display: block;
  height: 1px;
  margin-top: 1px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: url("../content/sdk-assets/icon/icon-dash.png");
  background-repeat: repeat-x; }

.entry {
  padding: 50px  0; }

.entry span.highlight {
  background: #f6f6f6;
  padding: 0px 5px;
  color: #31708f;
}

/***************************** 3- Topics ****************************/
.topics {
  padding: 50px 0; }
  .topics header {
    border-bottom: 1px solid #eee;
    position: relative; }
    .topics header h2 {
      font-family: "Roboto", sans-serif;
      color: #43484d; }
    .topics header p {
      font-size: 16px;
      font-weight: 300;
      font-family: "Roboto", sans-serif;
      color: #5e6977; }
  .topics .topics-btn a{
    margin-top: 30px; }
    .topics .topics-btn .btn {
      margin-top: 60px;
      color: #358ed7; }
    .topics .topics-btn img {
      display: inline;
      padding-left: 30px; }

.topics h3 a {
  font-size: 18px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #43484d;
  text-decoration: none; }

.media-border {
  border-bottom: 1px solid #eeeeee; }

.topics-list {
  padding: 20px 0; }
  .topics-list li {
    list-style: none;
    padding-left: 5px;
    padding-top: 10px; }
    .topics-list li a {
      padding-left: 15px;
      color: green;
      font-size: 14px;
      font-weight: 400;
      font-family: "Roboto",sans-serif;
      text-decoration: none;
      outline: 0 none; }
    .topics-list li a:hover {
      color: ; }
  .topics-list li:before {
    font-family: FontAwesome;
    content: "";
    color: #b5bfc7;
    font-size: 18px; }
  .topics-list .badge {
    background-color: /*#5cb85c*/#888;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    line-height: 25px;
    min-width: 10px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    height: 25px;
    width: 25px;
    margin-right: 10px;
    padding: 0; }

/*----------------------- Widgets ----------------------*/
.widget {
  border: 2px solid #f7f7f7;
  border-radius: 5px;
  padding: 25px; }
  .widget h4 {
    font-size: 18px;
    font-weight: 400;
    color: #43484d;
    line-height: 25px; }
  .widget .icon {
    float: right;
    padding-right: 10px;
    padding-right: 20px; }

.widget-support {
  margin-bottom: 24px;
  margin-top: 50px; }
  .widget-support p {
    font-size: 16px;
    font-weight: 400;
    color: #86939e;
    padding-top: 30px;
    padding-bottom: 30px; }

.widget_categories li {
  list-style: none;
  padding-left: 5px;
  padding-top: 15px; }
  .widget_categories li a {
    padding-left: 15px;
    color: #5e6977;
    font-size: 14px;
    font-weight: 400;
    font-family: "Roboto",sans-serif;
    text-decoration: none;
    outline: 0 none; }
  .widget_categories li a:hover {
    color: ; }
  .widget_categories li ul {
    padding-left: 30px;
    padding-bottom: 20px; }
    .widget_categories li ul li:before {
      font-family: FontAwesome;
      content: ""; }

.widget_categories li:before {
  font-family: FontAwesome;
  content: "";
  color: #b5bfc7;
  font-size: 18px; }

/***************************** 4- More ****************************/
.more-entries {
  position: relative;
  margin-bottom: 80px; }
  .more-entries img {
    width: 15%;
    margin-top: 40px;
  }
  .more-entries .divider {
    border-top: 1px solid #eeeeee;
    position: relative;
    margin-bottom: 60px; }
  .more-entries .divider i {
    background: ;
    border-radius: 50%;
    color: #fff;
    display: block;
    font-size: 28px;
    height: 45px;
    line-height: 45px;
    padding: 0;
    text-align: center;
    width: 45px;
    margin: 0 auto;
    margin-top: -25px; }
  .more-entries ul.members {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px; }
    .more-entries ul.members li {
      display: inline;
      padding-right: 30px; }
    .more-entries ul.members li img {
      max-width: 90px;
    }

.more-entries .media-body {
    height: 300px;
}

/***************************** 5- Misc ****************************/
.section {
  margin-top: 80px;
  margin-bottom: 80px; }

.call-to-action {
  border: 2px solid #f7f7f7;
  border-radius: 5px;
  padding: 20px;
  margin: 20px 0; }
  .call-to-action .action-btn {
    display: inline-block;
    float: right; }
  .call-to-action h3 {
    font-size: 30px;
    font-weight: 300;
    color: #43484d;
    margin: 0 0 10px; }
  .call-to-action p {
    font-size: 20px;
    font-weight: 300;
    color: #86939e; }
  .call-to-action .btn-action {
    margin-top: 20px;
    float: right; }

footer {
	padding-top: 3px;
	padding-bottom: 3px;
	background: #eee;
	font-size: 10px;
    font-weight: 300;
	color:#fff;
	z-index:3;
	position:relative;
}

footer .copy {
	padding-top:5px;
	margin-bottom: 0px;
}

#foot-root {
	position: relative;
	bottom: 0px;
	width: 100%;
}

.breadcrumbs {
  background: #f9f9f9;
  padding-top: 15px;
  padding-bottom: 5px; }
  .breadcrumbs ol {
    padding: 0; }
    .breadcrumbs ol li {
      display: inline-block;
      color: #5e6977;
      font-size: 14px; }
      .breadcrumbs ol li a {
        text-decoration: none;
        color: #5e6977; }
    .breadcrumbs ol li::after {
      content: " / ";
      padding: 0 10px; }
    .breadcrumbs ol li:last-child::after {
      content: "  "; }
    .breadcrumbs ol .active {
      color: ; }

.content-wrapper {
  padding: 40px 0; }

.alert-info {
  background: #f6fafd;
  padding: 10px 10px 10px 90px;
  position: relative; }
  .alert-info .icon-info {
    position: absolute;
    top: 25px;
    left: 25px; }
  .alert-info p {
    line-height: 25px;
    padding-bottom: 10px;
    padding-top: 12px; }

.post .meta {
  border-bottom: 1px solid #eee;
  margin: 20px  0;
  padding-bottom: 10px; }
  .post .meta p {
    padding: 15px 0; }
  .post .meta li {
    display: inline-block;
    font-weight: 300;
    color: #86939e; }
    .post .meta li span {
      color: #43484d; }
  .post .meta li::after {
    content: "|";
    padding: 0 20px; }
  .post .meta li:last-child::after {
    content: none; }

.post img {
  padding: 40px 0;
  max-width: 100%; }

blockquote {
  background: #f9f9f9;
  border: 1px solid #c3cfd8;
  padding: 30px;
  margin: 0px 0;
  margin-top: 0px;
  font-family: 'Inconsolata', monospace;
  border-radius: 0px; }

.feedback {
  padding: 50px 0; }
  .feedback h3 {
    border-bottom: 1px solid #eee;
    font-size: 38px;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    color: #43484d;
    padding-bottom: 20px; }
  .feedback input[type="text"] {
    font-size: 18px;
    border-radius: 5px;
    border: 2px solid #e1e8ee;
    color: #43484d;
    height: 60px;
    width: 100%;
    margin: 20px 0;
    padding: 20px; }

.template-entry .overlay {
  background: rgba(2, 28, 53, 0.9) none repeat scroll 0 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%; }

.template-card .masthead {
  padding-top: 200px; }

.template-card .masthead h1 {
  margin-top: -150px; }

.template-card .card {
  background: #fff;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin-top: -150px; }
  .template-card .card .icon {
    padding-bottom: 30px; }
  .template-card .card .section-subtitle {
    width: 78%; }
  .template-card .card input[type="text"] {
    border: 2px solid #e1e8ee;
    border-radius: 5px;
    color: #43484d;
    font-size: 14px;
    height: 50px;
    margin: 10px 0;
    padding: 15px;
    width: 100%; }
  .template-card .card input[type="submit"] {
    margin-top: 20px;
    width: 100%; }
  .template-card .card .forget-pass {
    padding-top: 30px; }


/* Mobile Menu Appearance */
.pushy {
  position: fixed;
  width: 230px;
  height: 100%;
  top: 0;
  z-index: 9999;
  background: #f26522;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  /* enables momentum scrolling in iOS overflow elements */
}
.pushy li {
  list-style: none;
  margin-left: 0px;
}
.pushy a {
  display: block;
  color: #fff;
  font-family: 'Open Sans', arial;
  font-weight: 300;
  font-size: 16px;
  padding: 18px 43px;
  text-decoration: none;
}
.pushy a:hover {
  color: #82c1eb;
}
.pushy ul:first-child {
  margin-top: 10px;
}
.pushy.pushy-left {
  left: 0;
}
.pushy.pushy-right {
  right: 0;
}

.pushy-content {
  visibility: hidden;
}

/* Specific styling for SDK pages on mobile nav */

.pushy-content a[href*="java-sdk"]:before{
    content:'';
    display: block;
    position: absolute;
    left: 50px;
    margin-top: 13px;
    font-weight: bold;
    color: #fff;
    height: 5px;
    width: 5px;
    background: red;
}

.pushy-content a[href*="csharp-sdk"]:before {
    content:'';
    display: block;
    position: absolute;
    left: 50px;
    margin-top: 13px;
    font-weight: bold;
    color: #fff;
    height: 5px;
    width: 5px;
    background: purple;
}

.pushy-content a[href*="content-cli.html"]:before {
    content:'';
    display: block;
    position: absolute;
    left: 50px;
    margin-top: 13px;
    font-weight: bold;
    color: #fff;
    height: 5px;
    width: 5px;
    background: black;
}

.pushy-content a[href*="java-sdk"]{
    padding-left: 70px;
}

.pushy-content a[href*="csharp-sdk"]{
    padding-left: 70px;
}

.pushy-content a[href*="content-cli.html"]{
    padding-left: 70px;
}

.pushy-content a.button-nav {
  margin-left: 35px;
  margin-top: 5px;
}

/* Menu Movement */

.menu-btn {
    position: absolute;
    right: 0px;
    display: none;
}

.pushy-left {
  -webkit-transform: translate3d(-230px, 0, 0);
  -ms-transform: translate3d(-230px, 0, 0);
  transform: translate3d(-230px, 0, 0);
}

.pushy-open-left #container,
.pushy-open-left .push {
  -webkit-transform: translate3d(230px, 0, 0);
  -ms-transform: translate3d(230px, 0, 0);
  transform: translate3d(230px, 0, 0);
}

.pushy-right {
  -webkit-transform: translate3d(230px, 0, 0);
  -ms-transform: translate3d(230px, 0, 0);
  transform: translate3d(230px, 0, 0);
}

.pushy-open-right #container,
.pushy-open-right .push {
  -webkit-transform: translate3d(-230px, 0, 0);
  -ms-transform: translate3d(-230px, 0, 0);
  transform: translate3d(-230px, 0, 0);
}

.pushy-open-left .pushy,
.pushy-open-right .pushy {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.pushy-open-left .pushy-content,
.pushy-open-right .pushy-content {
  visibility: visible;
}

/* Menu Transitions */
#container,
.pushy,
.push {
  transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}

.pushy-content {
  transition: visibility 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}

/* Site Overlay */
.site-overlay {
  display: none;
}

.pushy-open-left .site-overlay,
.pushy-open-right .site-overlay {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9998;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-animation: fade 500ms;
  animation: fade 500ms;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Submenu Appearance */
.pushy-submenu {
  /* Submenu Buttons */
  /* Submenu Icon */
}
.pushy-submenu ul {
  padding-left: 15px;
  transition: max-height 0.2s ease-in-out, visibility 0.2s ease-in-out;
}
.pushy-submenu ul li {
  transition: opacity 0.2s ease-in-out;
}
.pushy-submenu button {
  width: 100%;
  color: #b3b3b1;
  padding: 15px 30px;
  text-align: left;
  background: transparent;
  border: 0;
}
.pushy-submenu button:hover {
  color: #FFF;
}
.pushy-submenu > a,
.pushy-submenu > button {
  position: relative;
}
.pushy-submenu > a::after,
.pushy-submenu > button::after {
  content: '';
  display: block;
  height: 11px;
  width: 8px;
  position: absolute;
  top: 50%;
  right: 15px;
  background: url("../img/arrow.svg") no-repeat;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: transform 0.2s;
}

/* Submenu Movement */
.pushy-submenu-closed ul {
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
}
.pushy-submenu-closed li{
  opacity: 0;
}

.pushy-submenu-open {
  /* Submenu Icon */
}
.pushy-submenu-open ul {
  max-height: 1000px;
  visibility: visible;
}
.pushy-submenu-open li {
  opacity: 1;
}
.pushy-submenu-open a::after,
.pushy-submenu-open button::after {
  -webkit-transform: translateY(-50%) rotate(90deg);
  -ms-transform: translateY(-50%) rotate(90deg);
  transform: translateY(-50%) rotate(90deg);
}


/* = Responsive
-------------------------------------------------------------- */
@media only screen and (max-width: 768px) {
	
	#form-div input {
		max-width: 100% !important;	
	}
	textarea {
		max-width: 100% !important;	
	}
    
    .banner-wrapper {
        display: none;
    }
    
    .pre-footer .content-block { padding-top: 50px; }
	
    .pre-footer .content-block h2:after {
        top: 40px;
    }
    
    #trust .col-sm-4 {
        margin-bottom: 100px;
    }

    .mobile-margin {
        margin-top: -200px;
    }
    
    .root-hero .row {
		margin-right: 10px;
	}
	.nav li span {
		display: inline-block;
		margin-left: 13px;
	}
	.nav li a {
		padding-top: 10px;
		border-top: 1px solid #ccc;	
	}
	.nav a:hover {
		color: #111 !important;	
	}
	.directory-link {
		margin-left: 30px;
		position: relative !important;
	}
	.mktoButton{
		width: 100% !important;
	}
	
	.root-hero .row {
		margin-left: -5px;	
	}
	
	select{
		width: 100% !important;
		padding-bottom: 0px !important;
	}	
    
    .feature-links .col-md-3  {
        text-align: center;
        max-width: 300px;
        margin: 0 auto;
    }
	
	#head .hero h1 {
		font-size:35px;
		line-height:35px;
	}
	.call-to-act h2{
		font-size:20px;
	}
	.parallax-container{
		display:none;
	}

	.process-icons *{
		font-size: 20px !important;
	}
	.process-icons .content, .step-nr {
		margin-left: -20px;	
	}
	.pageHead .hero, ul.wy-breadcrumbs {
		display: none;	
	}
	#inner .pageHead{
		padding: 10px 0 10px !important;	
	}
	.container {
		padding: 0px 30px !important;	
	}
	#main-content {
		margin-top: -160px;	
	}
	.call-to-act .btn {
		font-size: 12px;	
	}
	.wy-nav-side {
		margin-top: 80px;
	}
	.wy-nav-content-wrap.shift {
		margin-top: -80px;	
	}
	.wy-nav-top{
		line-height: 25px;	
	}
	.navbar-collapse {
		padding-bottom: 20px;
		margin-top: 38px;
		float: left;
		width: 100%;
		text-align: left;	
	}
	.company {
		margin-left: 0px;	
	}
	.navbar .container{
		background: #fff !important;
	}
    .navbar .nav li:first-child {
        margin-left: 0px;
    }
    .navbar .nav li:first-child a {
        margin-left: -15px;
        border-top: none;
    }
    .navbar .nav li.active a {
        padding-left: 10px;
    }
	.navbar-toggle {
		margin-right: -8px;
		font-size: 25px;
        background: #f6f6f6;
		margin-top: 20px;
	}
	.nav li{
		float: left;
		text-align: left;	
		width: 100%;	
	}
	.nav li a {
		margin-top: 15px;	
	}
	.navbar-nav {
		margin-left: 20px;
		padding-bottom: 25px;
	}
	#head h3 {
		max-width: 300px;	
	}
}


/* Custom, iPhone Retina */
@media (max-width: 768px) {
  .brand {
    padding-left: 15px; }
  .features {
    padding: 35px 0; }
  footer {
    text-align: center; }
    footer .footer-links {
      margin-top: 10px;
      margin-bottom: 10px; }
    footer .copyright {
      float: none; } 

  .company img{ 
        width: 90% !important;
        height: 90% !important;
        margin-top: -22px;
    }
        
    .menu-btn {
        position: absolute;
        right: 20px;
        top: 45px;
        display: block;
    }
    
    .nav {
        display: none;
    }

}


/* Extra Small Devices, Phones */
@media (max-width: 1024px) {
  .more-entries {
     text-align: center;
    }
  .call-to-action {
    text-align: center; }
    .call-to-action .btn-action {
      margin-top: 0;
      float: none; }
  .single-masthead .btn-hero {
    margin: 24px auto 0;
    float: none; } }

@media all and (max-width: 1024px) and (min-width: 768px) {
  footer {
    text-align: center; }
    footer .footer-links {
      margin-top: 10px;
      margin-bottom: 10px; }
    footer .copyright {
      float: left; } }

    

@media only screen and (max-width: 1200px) {

	.nav > li > a {
		padding-left:6px;
		padding-right:6px;
	}
	.img-block-half img, .browser-2{
		margin-left: 15px;
	}
    .overview .col-md-4 span {
        display: none;
    }
	#form-div input {
		width: 150% !important;	
	}
    #head.cli-home {
        height: 450px;
    }
	#head h3 {
		max-width: 500px;	
	}
	textarea {
		width: 140% !important;	
	}
	.mktoButton{
		width: 81% !important;
	}
	select{
		width: 353px !important;
	}
    .navbar-nav > li > a:after {
        content: '';
    
    }
	
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .topics-list {
    padding: 5px 0; } 
    
   blockquote {
    font-size: 12px;}


}
