﻿/* MadCap Table Style: */

/*<meta Version="9" />*/

@media print
{
	mcTableStyle
	{
		
	}

	mcTableColumnStyle
	{
		font-family: 'Lionbridge Sans Light';
	}

	mcTableHeadStyle
	{
		font-size: 11pt;
		font-family: 'Lionbridge Sans';
		color: #000000;
		font-weight: bold;
	}

	mcTableBodyStyle
	{
		font-size: 11pt;
		font-family: 'Lionbridge Sans Light';
		color: #000000;
	}

	mcTableFootStyle
	{
		
	}
}

mcTableStyle
{
	name: CT Table;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #02336e;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #02336e;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #02336e;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #02336e;
	max-id: 4;
	cell-padding-left: 6px;
	cell-padding-right: 6px;
	cell-padding-top: 6px;
	cell-padding-bottom: 6px;
	column-break-inside: avoid;
	border-spacing-y: 1;
	border-spacing-x: 1;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #02336e;
	vertical-align: top;
	name: Column1;
	id: 0;
	text-align: left;
	font-family: 'Noto Serif';
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #02336e;
	color: #000000;
	name: Header1;
	id: 3;
	font-size: 16px;
	font-family: 'Noto Sans';
	text-align: left;
	cell-padding-left: 6px;
	cell-padding-right: 6px;
	cell-padding-top: 6px;
	cell-padding-bottom: 6px;
	background-color: #f8f8ff;
	vertical-align: middle;
	font-weight: bold;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #02336e;
	name: Body2;
	id: 2;
	font-size: 16px;
	font-family: 'Noto Serif';
	color: #000000;
	text-align: left;
	vertical-align: top;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 2px;
	separator-color: #000000;
	background-color: #c0c0c0;
	name: Footer1;
	id: 4;
}


/* Cell Styles: */
 
@media print
{
	.TableStyle-CT_Table
	{
		border-spacing: 0px 0px;
	}

	.TableStyle-CT_Table-HeadI-Column1-Header1
	{
		color: #000000;
		font-family: 'Lionbridge Sans';
		font-size: 11pt;
		font-weight: bold;
	}

	.TableStyle-CT_Table-HeadI-Column1-Header1 p
	{
		color: #000000;
		font-family: 'Lionbridge Sans';
		font-size: 11pt;
		font-weight: bold;
	}

	.TableStyle-CT_Table-HeadE-Column1-Header1
	{
		color: #000000;
		font-family: 'Lionbridge Sans';
		font-size: 11pt;
		font-weight: bold;
	}

	.TableStyle-CT_Table-HeadE-Column1-Header1 p
	{
		color: #000000;
		font-family: 'Lionbridge Sans';
		font-size: 11pt;
		font-weight: bold;
	}

	.TableStyle-CT_Table-HeadF-Column1-Header1
	{
		color: #000000;
		font-family: 'Lionbridge Sans';
		font-size: 11pt;
		font-weight: bold;
	}

	.TableStyle-CT_Table-HeadF-Column1-Header1 p
	{
		color: #000000;
		font-family: 'Lionbridge Sans';
		font-size: 11pt;
		font-weight: bold;
	}

	.TableStyle-CT_Table-HeadH-Column1-Header1
	{
		color: #000000;
		font-family: 'Lionbridge Sans';
		font-size: 11pt;
		font-weight: bold;
	}

	.TableStyle-CT_Table-HeadH-Column1-Header1 p
	{
		color: #000000;
		font-family: 'Lionbridge Sans';
		font-size: 11pt;
		font-weight: bold;
	}

	.TableStyle-CT_Table-HeadD-Column1-Header1
	{
		color: #000000;
		font-family: 'Lionbridge Sans';
		font-size: 11pt;
		font-weight: bold;
	}

	.TableStyle-CT_Table-HeadD-Column1-Header1 p
	{
		color: #000000;
		font-family: 'Lionbridge Sans';
		font-size: 11pt;
		font-weight: bold;
	}

	.TableStyle-CT_Table-HeadC-Column1-Header1
	{
		color: #000000;
		font-family: 'Lionbridge Sans';
		font-size: 11pt;
		font-weight: bold;
	}

	.TableStyle-CT_Table-HeadC-Column1-Header1 p
	{
		color: #000000;
		font-family: 'Lionbridge Sans';
		font-size: 11pt;
		font-weight: bold;
	}

	.TableStyle-CT_Table-HeadB-Column1-Header1
	{
		color: #000000;
		font-family: 'Lionbridge Sans';
		font-size: 11pt;
		font-weight: bold;
	}

	.TableStyle-CT_Table-HeadB-Column1-Header1 p
	{
		color: #000000;
		font-family: 'Lionbridge Sans';
		font-size: 11pt;
		font-weight: bold;
	}

	.TableStyle-CT_Table-HeadA-Column1-Header1
	{
		color: #000000;
		font-family: 'Lionbridge Sans';
		font-size: 11pt;
		font-weight: bold;
	}

	.TableStyle-CT_Table-HeadA-Column1-Header1 p
	{
		color: #000000;
		font-family: 'Lionbridge Sans';
		font-size: 11pt;
		font-weight: bold;
	}

	.TableStyle-CT_Table-HeadG-Column1-Header1
	{
		color: #000000;
		font-family: 'Lionbridge Sans';
		font-size: 11pt;
		font-weight: bold;
	}

	.TableStyle-CT_Table-HeadG-Column1-Header1 p
	{
		color: #000000;
		font-family: 'Lionbridge Sans';
		font-size: 11pt;
		font-weight: bold;
	}

	.TableStyle-CT_Table-FootI-Column1-Footer1
	{
		font-family: 'Lionbridge Sans Light';
	}

	.TableStyle-CT_Table-FootI-Column1-Footer1 p
	{
		font-family: 'Lionbridge Sans Light';
	}

	.TableStyle-CT_Table-FootE-Column1-Footer1
	{
		font-family: 'Lionbridge Sans Light';
	}

	.TableStyle-CT_Table-FootE-Column1-Footer1 p
	{
		font-family: 'Lionbridge Sans Light';
	}

	.TableStyle-CT_Table-FootF-Column1-Footer1
	{
		font-family: 'Lionbridge Sans Light';
	}

	.TableStyle-CT_Table-FootF-Column1-Footer1 p
	{
		font-family: 'Lionbridge Sans Light';
	}

	.TableStyle-CT_Table-FootH-Column1-Footer1
	{
		font-family: 'Lionbridge Sans Light';
	}

	.TableStyle-CT_Table-FootH-Column1-Footer1 p
	{
		font-family: 'Lionbridge Sans Light';
	}

	.TableStyle-CT_Table-FootD-Column1-Footer1
	{
		font-family: 'Lionbridge Sans Light';
	}

	.TableStyle-CT_Table-FootD-Column1-Footer1 p
	{
		font-family: 'Lionbridge Sans Light';
	}

	.TableStyle-CT_Table-FootC-Column1-Footer1
	{
		font-family: 'Lionbridge Sans Light';
	}

	.TableStyle-CT_Table-FootC-Column1-Footer1 p
	{
		font-family: 'Lionbridge Sans Light';
	}

	.TableStyle-CT_Table-FootB-Column1-Footer1
	{
		font-family: 'Lionbridge Sans Light';
	}

	.TableStyle-CT_Table-FootB-Column1-Footer1 p
	{
		font-family: 'Lionbridge Sans Light';
	}

	.TableStyle-CT_Table-FootA-Column1-Footer1
	{
		font-family: 'Lionbridge Sans Light';
	}

	.TableStyle-CT_Table-FootA-Column1-Footer1 p
	{
		font-family: 'Lionbridge Sans Light';
	}

	.TableStyle-CT_Table-FootG-Column1-Footer1
	{
		font-family: 'Lionbridge Sans Light';
	}

	.TableStyle-CT_Table-FootG-Column1-Footer1 p
	{
		font-family: 'Lionbridge Sans Light';
	}

	.TableStyle-CT_Table-BodyI-Column1-Body2
	{
		color: #000000;
		font-size: 11pt;
		font-family: 'Lionbridge Sans Light';
	}

	.TableStyle-CT_Table-BodyI-Column1-Body2 p
	{
		color: #000000;
		font-size: 11pt;
		font-family: 'Lionbridge Sans Light';
	}

	.TableStyle-CT_Table-BodyE-Column1-Body2
	{
		color: #000000;
		font-size: 11pt;
		font-family: 'Lionbridge Sans Light';
	}

	.TableStyle-CT_Table-BodyE-Column1-Body2 p
	{
		color: #000000;
		font-size: 11pt;
		font-family: 'Lionbridge Sans Light';
	}

	.TableStyle-CT_Table-BodyF-Column1-Body2
	{
		color: #000000;
		font-size: 11pt;
		font-family: 'Lionbridge Sans Light';
	}

	.TableStyle-CT_Table-BodyF-Column1-Body2 p
	{
		color: #000000;
		font-size: 11pt;
		font-family: 'Lionbridge Sans Light';
	}

	.TableStyle-CT_Table-BodyH-Column1-Body2
	{
		color: #000000;
		font-size: 11pt;
		font-family: 'Lionbridge Sans Light';
	}

	.TableStyle-CT_Table-BodyH-Column1-Body2 p
	{
		color: #000000;
		font-size: 11pt;
		font-family: 'Lionbridge Sans Light';
	}

	.TableStyle-CT_Table-BodyD-Column1-Body2
	{
		color: #000000;
		font-size: 11pt;
		font-family: 'Lionbridge Sans Light';
	}

	.TableStyle-CT_Table-BodyD-Column1-Body2 p
	{
		color: #000000;
		font-size: 11pt;
		font-family: 'Lionbridge Sans Light';
	}

	.TableStyle-CT_Table-BodyC-Column1-Body2
	{
		color: #000000;
		font-size: 11pt;
		font-family: 'Lionbridge Sans Light';
	}

	.TableStyle-CT_Table-BodyC-Column1-Body2 p
	{
		color: #000000;
		font-size: 11pt;
		font-family: 'Lionbridge Sans Light';
	}

	.TableStyle-CT_Table-BodyB-Column1-Body2
	{
		color: #000000;
		font-size: 11pt;
		font-family: 'Lionbridge Sans Light';
	}

	.TableStyle-CT_Table-BodyB-Column1-Body2 p
	{
		color: #000000;
		font-size: 11pt;
		font-family: 'Lionbridge Sans Light';
	}

	.TableStyle-CT_Table-BodyA-Column1-Body2
	{
		color: #000000;
		font-size: 11pt;
		font-family: 'Lionbridge Sans Light';
	}

	.TableStyle-CT_Table-BodyA-Column1-Body2 p
	{
		color: #000000;
		font-size: 11pt;
		font-family: 'Lionbridge Sans Light';
	}

	.TableStyle-CT_Table-BodyG-Column1-Body2
	{
		color: #000000;
		font-size: 11pt;
		font-family: 'Lionbridge Sans Light';
	}

	.TableStyle-CT_Table-BodyG-Column1-Body2 p
	{
		color: #000000;
		font-size: 11pt;
		font-family: 'Lionbridge Sans Light';
	}
}

.TableStyle-CT_Table
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #02336e;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #02336e;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #02336e;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #02336e;
	border-bottom-width: 1px;
	column-break-inside: avoid;
	border-spacing: 1px 1px;
}

.TableStyle-CT_Table-Column-Column1
{
	
}

.TableStyle-CT_Table-Head-Header1
{
	
}

.TableStyle-CT_Table-HeadI-Column1-Header1
{
	color: #000000;
	font-family: 'Noto Sans';
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	background-color: #f8f8ff;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-CT_Table-HeadI-Column1-Header1 p
{
	color: #000000;
	font-family: 'Noto Sans';
	font-size: 16px;
	font-weight: bold;
}

.TableStyle-CT_Table-HeadE-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #02336e;
	border-right-style: solid;
	color: #000000;
	font-family: 'Noto Sans';
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	background-color: #f8f8ff;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom-width: 1px;
	border-bottom-color: #02336e;
	border-bottom-style: solid;
}

.TableStyle-CT_Table-HeadE-Column1-Header1 p
{
	color: #000000;
	font-family: 'Noto Sans';
	font-size: 16px;
	font-weight: bold;
}

.TableStyle-CT_Table-HeadF-Column1-Header1
{
	color: #000000;
	font-family: 'Noto Sans';
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	background-color: #f8f8ff;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom-width: 1px;
	border-bottom-color: #02336e;
	border-bottom-style: solid;
}

.TableStyle-CT_Table-HeadF-Column1-Header1 p
{
	color: #000000;
	font-family: 'Noto Sans';
	font-size: 16px;
	font-weight: bold;
}

.TableStyle-CT_Table-HeadH-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #02336e;
	border-right-style: solid;
	color: #000000;
	font-family: 'Noto Sans';
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	background-color: #f8f8ff;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-CT_Table-HeadH-Column1-Header1 p
{
	color: #000000;
	font-family: 'Noto Sans';
	font-size: 16px;
	font-weight: bold;
}

.TableStyle-CT_Table-HeadD-Column1-Header1
{
	color: #000000;
	font-family: 'Noto Sans';
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	background-color: #f8f8ff;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom-width: 1px;
	border-bottom-color: #02336e;
	border-bottom-style: solid;
}

.TableStyle-CT_Table-HeadD-Column1-Header1 p
{
	color: #000000;
	font-family: 'Noto Sans';
	font-size: 16px;
	font-weight: bold;
}

.TableStyle-CT_Table-HeadC-Column1-Header1
{
	color: #000000;
	font-family: 'Noto Sans';
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	background-color: #f8f8ff;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-CT_Table-HeadC-Column1-Header1 p
{
	color: #000000;
	font-family: 'Noto Sans';
	font-size: 16px;
	font-weight: bold;
}

.TableStyle-CT_Table-HeadB-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #02336e;
	border-right-style: solid;
	color: #000000;
	font-family: 'Noto Sans';
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	background-color: #f8f8ff;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-CT_Table-HeadB-Column1-Header1 p
{
	color: #000000;
	font-family: 'Noto Sans';
	font-size: 16px;
	font-weight: bold;
}

.TableStyle-CT_Table-HeadA-Column1-Header1
{
	color: #000000;
	font-family: 'Noto Sans';
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	background-color: #f8f8ff;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-CT_Table-HeadA-Column1-Header1 p
{
	color: #000000;
	font-family: 'Noto Sans';
	font-size: 16px;
	font-weight: bold;
}

.TableStyle-CT_Table-HeadG-Column1-Header1
{
	color: #000000;
	font-family: 'Noto Sans';
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	background-color: #f8f8ff;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-CT_Table-HeadG-Column1-Header1 p
{
	color: #000000;
	font-family: 'Noto Sans';
	font-size: 16px;
	font-weight: bold;
}

.TableStyle-CT_Table-Foot-Footer1
{
	
}

.TableStyle-CT_Table-FootI-Column1-Footer1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	font-family: 'Noto Serif';
	text-align: left;
	vertical-align: top;
	background-color: #c0c0c0;
}

.TableStyle-CT_Table-FootI-Column1-Footer1 p
{
	font-family: 'Noto Serif';
}

.TableStyle-CT_Table-FootE-Column1-Footer1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	font-family: 'Noto Serif';
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #02336e;
	border-right-style: solid;
	background-color: #c0c0c0;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-CT_Table-FootE-Column1-Footer1 p
{
	font-family: 'Noto Serif';
}

.TableStyle-CT_Table-FootF-Column1-Footer1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	font-family: 'Noto Serif';
	text-align: left;
	vertical-align: top;
	background-color: #c0c0c0;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-CT_Table-FootF-Column1-Footer1 p
{
	font-family: 'Noto Serif';
}

.TableStyle-CT_Table-FootH-Column1-Footer1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	font-family: 'Noto Serif';
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #02336e;
	border-right-style: solid;
	background-color: #c0c0c0;
}

.TableStyle-CT_Table-FootH-Column1-Footer1 p
{
	font-family: 'Noto Serif';
}

.TableStyle-CT_Table-FootD-Column1-Footer1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	font-family: 'Noto Serif';
	text-align: left;
	vertical-align: top;
	background-color: #c0c0c0;
	border-top-width: 2px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-CT_Table-FootD-Column1-Footer1 p
{
	font-family: 'Noto Serif';
}

.TableStyle-CT_Table-FootC-Column1-Footer1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	font-family: 'Noto Serif';
	text-align: left;
	vertical-align: top;
	background-color: #c0c0c0;
}

.TableStyle-CT_Table-FootC-Column1-Footer1 p
{
	font-family: 'Noto Serif';
}

.TableStyle-CT_Table-FootB-Column1-Footer1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	font-family: 'Noto Serif';
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #02336e;
	border-right-style: solid;
	background-color: #c0c0c0;
}

.TableStyle-CT_Table-FootB-Column1-Footer1 p
{
	font-family: 'Noto Serif';
}

.TableStyle-CT_Table-FootA-Column1-Footer1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	font-family: 'Noto Serif';
	text-align: left;
	vertical-align: top;
	background-color: #c0c0c0;
}

.TableStyle-CT_Table-FootA-Column1-Footer1 p
{
	font-family: 'Noto Serif';
}

.TableStyle-CT_Table-FootG-Column1-Footer1
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	font-family: 'Noto Serif';
	text-align: left;
	vertical-align: top;
	background-color: #c0c0c0;
}

.TableStyle-CT_Table-FootG-Column1-Footer1 p
{
	font-family: 'Noto Serif';
}

.TableStyle-CT_Table-Body-Body2
{
	
}

.TableStyle-CT_Table-BodyI-Column1-Body2
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	color: #000000;
	font-size: 16px;
	font-family: 'Noto Serif';
	text-align: left;
	vertical-align: top;
}

.TableStyle-CT_Table-BodyI-Column1-Body2 p
{
	color: #000000;
	font-size: 16px;
	font-family: 'Noto Serif';
}

.TableStyle-CT_Table-BodyE-Column1-Body2
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	color: #000000;
	font-size: 16px;
	border-bottom-width: 1px;
	border-bottom-color: #02336e;
	border-bottom-style: solid;
	font-family: 'Noto Serif';
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #02336e;
	border-right-style: solid;
}

.TableStyle-CT_Table-BodyE-Column1-Body2 p
{
	color: #000000;
	font-size: 16px;
	font-family: 'Noto Serif';
}

.TableStyle-CT_Table-BodyF-Column1-Body2
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	color: #000000;
	font-size: 16px;
	border-bottom-width: 1px;
	border-bottom-color: #02336e;
	border-bottom-style: solid;
	font-family: 'Noto Serif';
	text-align: left;
	vertical-align: top;
}

.TableStyle-CT_Table-BodyF-Column1-Body2 p
{
	color: #000000;
	font-size: 16px;
	font-family: 'Noto Serif';
}

.TableStyle-CT_Table-BodyH-Column1-Body2
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	color: #000000;
	font-size: 16px;
	font-family: 'Noto Serif';
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #02336e;
	border-right-style: solid;
}

.TableStyle-CT_Table-BodyH-Column1-Body2 p
{
	color: #000000;
	font-size: 16px;
	font-family: 'Noto Serif';
}

.TableStyle-CT_Table-BodyD-Column1-Body2
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	color: #000000;
	font-size: 16px;
	border-bottom-width: 1px;
	border-bottom-color: #02336e;
	border-bottom-style: solid;
	font-family: 'Noto Serif';
	text-align: left;
	vertical-align: top;
}

.TableStyle-CT_Table-BodyD-Column1-Body2 p
{
	color: #000000;
	font-size: 16px;
	font-family: 'Noto Serif';
}

.TableStyle-CT_Table-BodyC-Column1-Body2
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	color: #000000;
	font-size: 16px;
	font-family: 'Noto Serif';
	text-align: left;
	vertical-align: top;
}

.TableStyle-CT_Table-BodyC-Column1-Body2 p
{
	color: #000000;
	font-size: 16px;
	font-family: 'Noto Serif';
}

.TableStyle-CT_Table-BodyB-Column1-Body2
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	color: #000000;
	font-size: 16px;
	font-family: 'Noto Serif';
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #02336e;
	border-right-style: solid;
}

.TableStyle-CT_Table-BodyB-Column1-Body2 p
{
	color: #000000;
	font-size: 16px;
	font-family: 'Noto Serif';
}

.TableStyle-CT_Table-BodyA-Column1-Body2
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	color: #000000;
	font-size: 16px;
	font-family: 'Noto Serif';
	text-align: left;
	vertical-align: top;
}

.TableStyle-CT_Table-BodyA-Column1-Body2 p
{
	color: #000000;
	font-size: 16px;
	font-family: 'Noto Serif';
}

.TableStyle-CT_Table-BodyG-Column1-Body2
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	color: #000000;
	font-size: 16px;
	font-family: 'Noto Serif';
	text-align: left;
	vertical-align: top;
}

.TableStyle-CT_Table-BodyG-Column1-Body2 p
{
	color: #000000;
	font-size: 16px;
	font-family: 'Noto Serif';
}
